/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Font face*/
/*Icons Placeholder*/
/*Border-radius*/
/*Box-shadow*/
/*Buttons*/
/*Sprite*/
/*Calculate rems*/
/*Effects and animations*/
main {
  padding-bottom: 0; }

@media (max-width: 767px) {
  main {
    margin-top: 0px; } }
body {
  padding-top: 0; }

caption, th, td {
  text-align: right; }

.bolchat-header {
  -webkit-box-shadow: 0px 2px 3px rgba(34, 34, 34, 0.18) ;
  -moz-box-shadow: 0px 2px 3px rgba(34, 34, 34, 0.18) ;
  box-shadow: 0px 2px 3px rgba(34, 34, 34, 0.18) ;
  height: 50px; }

.header .glyphs {
  font-size: 20px; }

.boldchat-header-Help h6 {
  white-space: nowrap; }

.user-name-input span {
  font-weight: bold; }
.user-name-input input {
  text-overflow: ellipsis; }
  .user-name-input input::-webkit-input-placeholder {
    color: #aaa; }
  .user-name-input input:-moz-placeholder {
    color: #aaa; }
  .user-name-input input::-moz-placeholder {
    color: #aaa; }
  .user-name-input input:-ms-input-placeholder {
    color: #aaa; }
  .user-name-input input:focus {
    background-color: #f5f5f5; }

.main-boldchat {
  min-height: 450px; }

.boldchat-header-logo {
  top: 5px; }

.main-chat {
  min-height: 350px;
  max-height: 350px;
  overflow-y: scroll; }

.send-message {
  resize: none;
  height: 100px; }
  .send-message:focus {
    background-color: #f5f5f5 !important; }

@media (min-width: 1025px) {
  .send-button {
    margin-top: 75px; } }

.is-typing-message {
  margin-top: 5px;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.848rem; }

.action-icons {
  position: relative;
  top: -10px;
  right: -9px;
  height: 35px; }

.svg .icon-email {
  background: url("../../static/images/02_common/icons/svg/letter.svg") no-repeat;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.32rem;
  height: 50px;
  width: 50px;
  display: block;
  float: left;
  /* hammer time */
  position: relative;
  top: -1px; }

.svg .icon-print {
  background: url("../../static/images/02_common/icons/svg/printer.svg") no-repeat;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.32rem;
  height: 50px;
  width: 36px;
  display: block;
  float: left; }

.svg .message-icon {
  background: url("../../static/images/02_common/icons/svg/message.svg") no-repeat;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.32rem;
  height: 50px;
  width: 50px;
  display: block;
  float: left;
  /* hammer time */
  position: relative;
  top: -12px;
  right: -10px; }

.no-svg .icon-email {
  background: url("../../static/images/02_common/icons/letter.png") no-repeat;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.32rem;
  height: 50px;
  width: 50px;
  display: block;
  float: left;
  /* hammer time */
  position: relative;
  top: 5px; }

.no-svg .icon-print {
  background: url("../../static/images/02_common/icons/printer.png") no-repeat;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.32rem;
  height: 50px;
  width: 32px;
  display: block;
  float: left; }

.no-svg .message-icon {
  background: url("../../static/images/02_common/icons/message.png") no-repeat;
  height: 20px;
  width: 32px;
  display: block;
  float: left; }

.close-chat {
  border-bottom: 1px solid #222; }

.end-conversation {
  background-color: #ccc;
  text-align: center; }

.boldchat-copy {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.32rem; }

.mb40 {
  margin-bottom: 40px; }

/* rate it */
/*css*/
.icon-radio-checked ~ p {
  color: #222 !important; }

.rate-position-number-button {
  top: -40px;
  left: 3px; }

.rate-position-number-button-1 {
  top: -40px;
  left: -1px; }

.rate-radio-description {
  margin-top: -30px;
  width: 536px; }

.rate-radio-description1 {
  margin-top: -30px; }

.rate-mt50 {
  margin-top: 50px; }

.rate-mt70 {
  margin-top: 70px; }

.rate-nickname-descri {
  font-size: 13; }

.rate-imput-size textarea {
  resize: none;
  height: 125px; }

.rate-radio-mr-percent {
  margin-right: 36px; }

.rate-bullets {
  width: 100%; }

.rate-bullets-div {
  width: 528px; }

.rate-img-explained-mr {
  margin-right: 25px; }

.rate-img-explained-mr1 {
  margin-right: 30px; }

.rate-img-explained-mb {
  margin-bottom: 40px; }

.rate-bullets li {
  width: 15px !important; }

.rate-icon-circular-bg {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: white;
  margin-top: 4px; }

.rate-icon-circular-bg span:before {
  margin-top: 2px;
  margin-left: 2.5px;
  float: left;
  font-size: 1em; }

.icon-radio-unchecked {
  background-color: #f5f5f5;
  -webkit-box-shadow: 1px 1px 0px #ccc inset;
  -moz-box-shadow: 1px 1px 0px #ccc inset;
  box-shadow: 1px 1px 0px #ccc inset; }

.chosen-container-single .chosen-single {
  padding-left: 0 !important;
  padding-right: 0 !important; }
