/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Font face*/
/*Icons Placeholder*/
/*Border-radius*/
/*Box-shadow*/
/*Buttons*/
/*Sprite*/
/*Calculate rems*/
/*Effects and animations*/
/* ==========================================================================
   Detail Product
   ========================================================================== */
@media (max-width: 1440px) {
  .productDetail-boutique-container-alignment {
    padding-left: 35px;
    padding-right: 35px; } }
@media (min-width: 1440px) {
  .productDetail-boutique-container-alignment {
    max-width: 1440px;
    margin: 0 auto; } }
@media (max-width: 1510px) and (min-width: 1440px) {
  .productDetail-boutique-container-alignment {
    padding-left: 35px;
    padding-right: 35px; } }
[data-page="detail"] .wrapper {
  overflow: hidden; }

[data-page="detail"] .icon-thinArrow {
  margin: 0px 0px 0px 5px;
  display: inline-block; }

.productDetailModule {
  position: relative;
  margin-top: -545px;
  right: -7%; }
  @media (min-width: 767px) and (max-width: 1024px) {
    .productDetailModule {
      position: relative;
      margin-top: -490px; } }
  @media (max-width: 767px) {
    .productDetailModule {
      position: relative;
      margin-top: -58px;
      right: 0; } }

.productDetailModule .detail-price .listing-sale {
  margin-left: 10px; }

.detail-info-wrapper {
  background-color: #fff;
  width: 100%;
  float: left;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  -moz-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ; }
  @media (max-width: 767px) {
    .detail-info-wrapper {
      padding: 10px; } }
  @media (max-width: 767px) {
    .detail-info-wrapper {
      position: relative;
      top: 5px; } }

.ipad .productDetailModule-selectSize {
  -webkit-transform: translate3d(0, 0, 1px); }

.productDetailModule-selectSize {
  position: absolute;
  width: 100%; }
  .productDetailModule-selectSize .dropdown li:hover a {
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.product-selecSize-dropdown-noStockInfo {
  cursor: default; }

@media (max-width: 1024px) {
  .productDetailModule-selectSize .listing-price {
    display: block;
    margin-right: 0px; } }

.productDetailModule-selectSize .listing-sale {
  margin-left: 10px; }
  @media (max-width: 1024px) {
    .productDetailModule-selectSize .listing-sale {
      clear: both; } }

.productDetailModule-selectSize a:hover {
  border-bottom: none;
  text-decoration: none !important; }

#spanSelectedSizeText, .productDetailModule-dropdown-numberItems {
  font-family: "Polaris-Bold", sans-serif; }

.productDetailModule-dropdown-fromStore {
  display: block;
  clear: left; }

.detail-sizes {
  padding-left: 7px; }

.detail-sizes-container a {
  border-bottom: 1px solid #aaaaaa; }

.productDetailModule-dropdown-countrySize {
  font-family: "Polaris-Book", sans-serif;
  color: #aaa; }

.detail-brand, .detail-name {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2.61rem; }
  @media (max-width: 767px) {
    .detail-brand, .detail-name {
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 2.32rem; } }

.detail-name {
  margin: 2px 0 10px 0; }

.detail-price {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.32rem; }

.detail-notice {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 2.21rem;
  color: #aaa;
  margin-left: 5px; }

.detail-offer {
  color: #fd4f57; }

.productDetailModule .dropdown > span.menuOpen:before {
  left: 94.5%; }

.productDetailModule .dropdown > span:before {
  left: 94.5%; }

.productDetailModule-contact li {
  float: left; }

.productDetailModule-contact li .glyphs {
  font-size: 1.6em; }

.productDetailModule-contact-listItem {
  padding-right: 15px; }

.productDetailModule-contact-listItem:last-child {
  margin-right: 0px; }

.productDetailModule-contact-listItem-icon {
  border-bottom: none !important; }

@media (max-width: 480px) {
  .productDetailModule-contactPhoneTitle {
    border-bottom: 1px solid #222222 !important; } }
@media (min-width: 767px) {
  .productDetailModule-contactPhoneTitle {
    border-bottom: none !important; } }

.productDetailModule-contactPhoneTitle:hover {
  color: #000;
  cursor: default !important; }

.productDetailModule-socialIcons {
  font-size: 2em;
  height: 35px;
  padding-left: 10px;
  display: table;
  border-top: 1px solid #ccc; }

.productDetailModule-socialIcons-title {
  margin-top: 4px; }

.productDetailModule-socialIcons .glyphs {
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  top: 4px; }
  @media (max-width: 822px) {
    .productDetailModule-socialIcons .glyphs {
      margin-right: 15px; } }
  .productDetailModule-socialIcons .glyphs:last-child {
    margin-right: 0px; }

.productDetailModule-socialIcons .glyphs:hover {
  color: #aaa; }

.productDetailModule-socialIcons-twitterContainer, .productDetailModule-socialIcons-googleContainer,
.productDetailModule-socialIcons-facebookContainer, .productDetailModule-socialIcons-pinterestContainer,
.productDetailModule-socialIcons-weiboContainer {
  float: left;
  margin-bottom: 10px; }

.productDetailModule-socialIcons-googleContainer {
  width: 50px; }

.productDetailModule-socialIcons-facebookContainer {
  min-width: 100px; }

.productDetailModule-socialIcons-pinterestContainer {
  min-width: 100px; }

.productDetailModule-socialIcons-loading {
  background-image: url(../images/bx_loader.gif);
  background-size: 15px 15px;
  float: left;
  height: 15px;
  width: 15px; }

@media (max-width: 1024px) {
  .productDetailModule .button-grey {
    margin-bottom: 10px; } }
@media (max-width: 1024px) {
  /*Reverse order of continue and cancel*/
  .productDetailModule-cta {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column; }

  .productDetailModule-bag {
    -moz-box-ordinal-group: 1;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }

  .productDetailModule-wishlist {
    -moz-box-ordinal-group: 2;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; } }
.productDetailModule-wishlist .glyphs {
  color: #222; }
.productDetailModule-wishlist .detail-wishlist-active {
  background-color: #f5f5f5;
  color: #222; }
  .productDetailModule-wishlist .detail-wishlist-active:hover {
    background-color: #f5f5f5;
    -webkit-box-shadow: 1px 1px 0px #888 inset;
    -moz-box-shadow: 1px 1px 0px #888 inset;
    box-shadow: 1px 1px 0px #888 inset; }

.detail-wishlist-active .glyphs {
  color: #222; }

.productDetailModule-bag-proceed {
  margin: 6px 0px 6px 6px; }
  @media (max-width: 767px) {
    .productDetailModule-bag-proceed {
      margin-bottom: 20px; } }

/* ==========================================================================
  out of stock
   ========================================================================== */
.detail-info-outStock-copy {
  padding-top: 3px; }

.detail-info-outStock-actions .icon-thinArrow {
  font-size: 1.25em; }

.ms-drop-text-clear {
  position: absolute;
  top: 14px;
  right: 0;
  margin-right: 10px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  text-align: right; }

.sizeGuideModal h2, .sizeGuideModal h4 {
  letter-spacing: 0px;
  text-transform: none; }

.modal.sizeUnavailable h2 {
  text-transform: none;
  letter-spacing: 0px; }

.sizeUnavailable-modal-button {
  text-align: right; }

.icon-box-checked, .icon-radio-checked {
  -webkit-box-shadow: 1px 1px 0px #cccccc inset;
  -moz-box-shadow: 1px 1px 0px #cccccc inset;
  box-shadow: 1px 1px 0px #cccccc inset;
  background-color: #f5f5f5; }

.icon-box-unchecked, .icon-radio-unchecked {
  -webkit-box-shadow: 1px 1px 0px #cccccc inset;
  -moz-box-shadow: 1px 1px 0px #cccccc inset;
  box-shadow: 1px 1px 0px #cccccc inset;
  background-color: #f5f5f5; }

.emailInputNotify .glyphs {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0px;
  top: 12px; }

.sizeUnavailableDropdown .dropdown ul li {
  width: 100%; }

/* ==========================================================================
  Detail accordion
   ========================================================================== */
.product-detail .accordion-item.active .accordion-title {
  font-family: "Polaris-Bold", sans-serif; }
.product-detail .product-detail-dl {
  margin: 0px; }
  .product-detail .product-detail-dl dt {
    margin-right: 10px; }
  .product-detail .product-detail-dl dd {
    margin-left: 0px; }

.productDetailModule-bigFollow-icon .button-grey-circle {
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 0;
  outline: 0;
  background-color: #aaa;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.button-grey-circle:active {
  -webkit-box-shadow: 1px 1px 0px #cccccc inset;
  -moz-box-shadow: 1px 1px 0px #cccccc inset;
  box-shadow: 1px 1px 0px #cccccc inset;
  opacity: 1; }

/* ==========================================================================
   Detail Boutique
   ========================================================================== */
/* ==========================================================================
   product slider remove <a> border
   ========================================================================== */
.sliderProduct-slide:hover {
  border: none; }

/* ==========================================================================
   product slider hover firefox
   ========================================================================== */
.zoomWindow {
  z-index: 0 !important; }

/* ==========================================================================
   thumbnails
   ========================================================================== */
.bx-pager-thumb a:hover, a:active {
  border-bottom: none; }

.bx-pager-thumbFull a:hover, a:active {
  border-bottom: none; }

.bx-pager-thumb img {
  -webkit-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  -moz-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ; }

.bx-pager-thumbFull img {
  -webkit-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  -moz-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ; }

.bx-pager-thumb a:first-child {
  margin-left: 0px; }

@media (max-width: 855px) {
  .bx-pager-thumb a:nth-child(5) {
    margin-left: 0px; } }
.bx-pager-thumb a {
  margin: 5px;
  float: left; }

@media (min-width: 1440px) and (max-width: 1510px) {
  .productDetailModule-breadcrumb-wrapper {
    margin: 0; } }
@media (max-width: 767px) {
  .productDetailModule-breadcrumb-wrapper .container {
    padding: 0px 0px; } }

.productDetailModule-breadcrumb-container {
  margin-top: -25px; }
  @media (min-width: 1440px) {
    .productDetailModule-breadcrumb-container {
      padding: 0; } }
  @media (max-width: 767px) {
    .productDetailModule-breadcrumb-container {
      display: none; } }

/* ==========================================================================
   recommendations slider styles specific for detail page
   ========================================================================== */
.productDetail-recommendations-layout {
  position: relative; }
  @media (max-width: 767px) {
    .productDetail-recommendations-layout {
      top: 0; }
      .productDetail-recommendations-layout.container {
        padding: 0; } }

/* ==========================================================================
   boutiques module
   ========================================================================== */
.productDetail-boutique-container {
  /*height: 400px;*/ }

.productDetail-boutique-content {
  -webkit-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  -moz-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  width: 100%; }

.productDetail-boutique-image {
  float: left;
  line-height: 0;
  overflow: hidden; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .productDetail-boutique-image {
      max-height: 200px; } }

.productDetail-boutique-image img {
  width: 100%;
  line-height: 0px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .productDetail-boutique-image img {
      margin-top: -130px; } }

.productDetail-boutique-description {
  margin: 0 auto;
  float: right;
  background-color: #fff;
  min-height: 311px;
  min-width: 332px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .productDetail-boutique-description {
      padding-left: 10px; } }

@media (max-width: 768px) {
  .productDetail-boutique-container {
    display: none; } }
#modalThanks {
  background-color: #fff; }

/* ==========================================================================
   duplicates
   ========================================================================== */
.js-product-selectsize-open {
  display: block !important; }

/* ==========================================================================
   br
   ========================================================================== */
.detail-br-helpers {
  padding: 3px 10px 5px 10px; }

.flex-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: row;
  flex-direction: row; }

.flex-item-1 {
  -moz-box-ordinal-group: 1;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1; }

.flex-item-2 {
  -moz-box-ordinal-group: 2;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2; }

@media (max-width: 767px) {
  .flex-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column; }

  .flex-item-1 {
    -moz-box-ordinal-group: 2;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }

  .flex-item-2 {
    -moz-box-ordinal-group: 1;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; } }
.icon-info-fill {
  font-size: 3.6em;
  line-height: 0.8em;
  color: #ccc;
  cursor: pointer; }

/*# sourceMappingURL=detail.css.map */
