@charset "UTF-8";
/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Font face*/
/*Icons Placeholder*/
/*Border-radius*/
/*Box-shadow*/
/*Buttons*/
/*Sprite*/
/*Calculate rems*/
/*Effects and animations*/
.dropdown-sidekick {
  position: relative;
  z-index: 4 !important; }
  .dropdown-sidekick:hover {
    cursor: pointer; }
  .dropdown-sidekick > span {
    display: block;
    font-family: "Polaris-Book", sans-serif;
    border-bottom: 1px solid #ccc;
    padding: 9px; }
    .dropdown-sidekick > span:before {
      font-size: 2em;
      position: absolute;
      content: "\e612";
      top: 5px;
      right: 1%;
      font-family: "iconGliphs"; }
    .dropdown-sidekick > span a {
      color: #222; }
    .dropdown-sidekick > span.menuOpen:before {
      content: "\e611"; }
    .dropdown-sidekick > span.glyphs-accordion:before {
      content: "\e614"; }
    .dropdown-sidekick > span.menuOpen.glyphs-accordion:before {
      content: "\e613"; }
  .dropdown-sidekick.menuOpen > span:before {
    content: ""; }
  .dropdown-sidekick ul {
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 1px #e6e6e6 ;
    -moz-box-shadow: 1px 1px 1px #e6e6e6 ;
    box-shadow: 1px 1px 1px #e6e6e6 ;
    width: 100%;
    padding: 10px;
    display: none; }
    .dropdown-sidekick ul.dropdown-list-transparent {
      background-color: transparent;
      box-shadow: none; }
      .dropdown-sidekick ul.dropdown-list-transparent .icon-box-checked,
      .dropdown-sidekick ul.dropdown-list-transparent .icon-box-unchecked,
      .dropdown-sidekick ul.dropdown-list-transparent .icon-radio-checked,
      .dropdown-sidekick ul.dropdown-list-transparent .icon-radio-unchecked {
        background-color: #fff; }
    .dropdown-sidekick ul li {
      padding-bottom: 13px; }
      .dropdown-sidekick ul li.dropdown-clear-all, .dropdown-sidekick ul li.dropdown-input-clear {
        color: #aaa;
        padding-bottom: 5px; }
        .dropdown-sidekick ul li.dropdown-clear-all span:hover, .dropdown-sidekick ul li.dropdown-clear-all span:visited, .dropdown-sidekick ul li.dropdown-input-clear span:hover, .dropdown-sidekick ul li.dropdown-input-clear span:visited {
          border-bottom: 1px solid #aaa; }
      .dropdown-sidekick ul li:last-child {
        padding-bottom: 0px; }
  .dropdown-sidekick a {
    display: inline-block;
    padding-bottom: 2px;
    color: #222; }
    .dropdown-sidekick a:hover, .dropdown-sidekick a :visited {
      border-bottom: none;
      text-decoration: none !important; }
  .dropdown-sidekick .icon-box-checked,
  .dropdown-sidekick .icon-box-unchecked,
  .dropdown-sidekick .icon-radio-checked,
  .dropdown-sidekick .icon-radio-unchecked {
    background-color: #f5f5f5; }
  .dropdown-sidekick label {
    width: 100%;
    display: inline-block;
    padding-left: 0px;
    color: #222; }
    .dropdown-sidekick label .dropdown-label-option {
      padding-bottom: 2px; }
    .dropdown-sidekick label span {
      margin-right: 10px; }

.dropdown-accordion > span {
  font-family: "Polaris-Bold", sans-serif; }
.dropdown-accordion ul {
  padding-top: 40px;
  padding-bottom: 0px; }
.dropdown-accordion .dropdown-clear-all, .dropdown-accordion .dropdown-input-clear {
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 40px; }

.dropdown .label-check_active {
  color: #222; }

.no-touch .dropdown-sidekick li:hover a {
  box-shadow: 0px 1px 0px #222; }
.no-touch .dropdown-sidekick li:hover .label-check-disabled .icon-box-checked, .no-touch .dropdown-sidekick li:hover .label-check-disabled .icon-box-unchecked, .no-touch .dropdown-sidekick li:hover .label-check-disabled .icon-radio-checked, .no-touch .dropdown-sidekick li:hover .label-check-disabled .icon-radio-unchecked {
  box-shadow: none; }
.no-touch .dropdown-sidekick li:hover .icon-box-checked, .no-touch .dropdown-sidekick li:hover .icon-box-unchecked, .no-touch .dropdown-sidekick li:hover .icon-radio-checked, .no-touch .dropdown-sidekick li:hover .icon-radio-unchecked {
  -webkit-box-shadow: 1px 1px 0px #ccc inset;
  -moz-box-shadow: 1px 1px 0px #ccc inset;
  box-shadow: 1px 1px 0px #ccc inset; }
.no-touch .dropdown-sidekick li:hover .dropdown-label-option {
  box-shadow: 0px 1px 0px #222; }
.no-touch .dropdown-sidekick li:hover .label-check-disabled .dropdown-label-option {
  box-shadow: none; }

@media (max-width: 767px) {
  .dropdown-sidekick.dropdown-accordion > span {
    font-family: "Polaris-Book", sans-serif; }
    .dropdown-sidekick.dropdown-accordion > span.menuOpen {
      font-family: "Polaris-Bold", sans-serif; }
  .dropdown-sidekick ul.dropdown-list-transparent .icon-box-checked,
  .dropdown-sidekick ul.dropdown-list-transparent .icon-box-unchecked,
  .dropdown-sidekick ul.dropdown-list-transparent .icon-radio-checked,
  .dropdown-sidekick ul.dropdown-list-transparent .icon-radio-unchecked {
    background-color: #f5f5f5; }

  .dropdown-accordion {
    padding: 0 7px; } }
