/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Font face*/
/*Icons Placeholder*/
/*Border-radius*/
/*Box-shadow*/
/*Buttons*/
/*Sprite*/
/*Calculate rems*/
/*Effects and animations*/
[data-page="affiliates"] .wrapper {
  overflow: hidden; }

/*Hero*/
@media (max-width: 767px) {
  .affiliates-sidekick {
    background-color: transparent;
    margin-bottom: 0px; } }
@media (max-width: 767px) {
  .affiliates-sidekick .sidekick-seo {
    color: #222; } }

@media (max-width: 1024px) {
  .sliderSingleModule {
    /*Landing - change to 3 columns*/
    width: 33.33%; } }
@media (max-width: 480px) {
  .sliderSingleModule {
    /*Landing - change to 1 columns*/
    width: 100%; } }
@media (max-width: 480px) {
  .sliderSingleModule .sliderSingle-content {
    padding: 10px;
    min-height: 60px; } }

@media (max-width: 1024px) {
  .affiliates-content .h5 {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 2.184rem; } }
@media (max-width: 480px) {
  .affiliates-content .h5 {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 2.184rem; } }

.contact-affiliates {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.32rem; }
  .contact-affiliates span {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 2.61rem; }

.card-shadow {
  -webkit-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  -moz-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ; }
