/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Font face*/
/*Icons Placeholder*/
/*Border-radius*/
/*Box-shadow*/
/*Buttons*/
/*Sprite*/
/*Calculate rems*/
/*Effects and animations*/
.unobtrosive-mask {
  z-index: 10;
  height: 40px; }

.lt-ie9 .box-shadow {
  -webkit-box-shadow: 1px 1px 2px #d4d4d4 ;
  -moz-box-shadow: 1px 1px 2px #d4d4d4 ;
  box-shadow: 1px 1px 2px #d4d4d4 ; }

.lt-ie9 .sidekick-footer {
  padding: 20px; }

/*desperater times call for desperate measures
1px margin bottom on header wishlist and shopping bag sliders*/
.tabs-top-container .bx-wrapper {
  margin-bottom: 1px !important;
  margin: 0 !important; }

/*
This is because of the arrow animation on the top drawer
ARRRRGGGGGHHHHHHH!!!!!!*/
.arrow-slider_top {
  margin-top: -29px;
  position: absolute; }

.lt-ie9 .arrow-slider_top {
  margin-top: -19px; }

.lt-ie9 body {
  margin: 0 auto; }

.lt-ie9 body,
.lt-ie9 .container,
.lt-ie9 .wrapper,
.lt-ie9 footer,
.lt-ie9 .footer,
.lt-ie9 .meganav-mask,
.lt-ie9 header {
  width: 1024px; }

.lt-ie9 .container,
.lt-ie9 .header-nav > div {
  max-width: 1024px; }

.lt-ie9 main {
  padding-bottom: 0; }

.lt-ie9 .field .container {
  width: auto;
  padding: 0 35px; }

.lt-ie9 .header-primary-arrow .arrow-slider_bottom {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff; }

.lt-ie9 .arrow-slider_top {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff; }

header .sliderTabsModule .imageRollover {
  position: relative !important; }

@media (max-width: 1440px) {
  .lt-ie9 .container {
    max-width: 1200px; } }
.lt-ie10 .header-user .icon-favourites,
.lt-ie10 .header-user,
.lt-ie10 .header-bag,
.ie10 .header-user .icon-favourites,
.ie10 .header-user,
.ie10 .header-bag {
  padding: 0; }

.lt-ie10 .header-search-container {
  display: none; }

.no-csstransitions .sliderTabs button {
  display: block;
  z-index: 9; }

.lt-ie10 .header-user .icon-favourites,
.ie10 .header-user .icon-favourites {
  float: left; }

.msie .header-nav-wrapper {
  left: 0; }

.firefox .header-nav-drawer-open .header-primary-nav {
  position: fixed;
  top: 60px;
  left: 0px;
  height: 90%; }

.msie11 body {
  font-size: 1px; }

/*Ie8 EM issues*/
.lt-ie9 h4,
.lt-ie9 h3,
.lt-ie9 .h3,
.lt-ie9 .h4 {
  line-height: 22px; }

.lt-ie9 body[data-page='countrySelector'] h1 {
  line-height: 36px; }

/*homepage*/
.lt-ie9 .home .hero-fullWidth {
  height: auto !important; }

/*Fix TO dirty business*/
.msie .helpContact .fixto-clone {
  width: auto !important; }

/*fix background*/
.lt-ie9 body {
  background-color: #f5f5f5; }

/*fix editorial*/
.lt-ie9 #editorial-landing .sliderSingleModule {
  width: 24% !important; }

/*fix lists line-height*/
.lt-ie9 ul {
  line-height: 22px; }

/*fix hero content line-height*/
.lt-ie9 .hero-content-container p {
  line-height: 22px; }

/*fix hero content line-height*/
.lt-ie9 .checkout-footer {
  margin-top: 30px; }

/*ie8 paddings filters listing*/
.lt-ie9 .dropdown-accordion li {
  padding-bottom: 0px; }

.lt-ie9 .listing-dropdown-size-sizeHelpLink {
  padding-top: 10px; }

.lt-ie9 .listing-image {
  padding-bottom: 145%; }

.lt-ie9 .sliderTabsModule .image-wrapper {
  padding-bottom: 145%; }

.lt-ie9 .listing-image img {
  padding-top: 8%;
  padding-right: 0%;
  padding-bottom: 13.2%;
  padding-left: 0%; }

.lt-ie9 .listing-leftFilters-wrapper .dropdown-label-option {
  display: inline-block;
  padding-left: 0px; }

.lt-ie9 body[data-page='countrySelector'] .wrapper {
  margin-bottom: 0px !important; }

.lt-ie9 .productDetailModule-breadcrumb-container {
  top: 0; }

.lt-ie9 .footer .hidden-xl {
  display: none; }

.lt-ie10 .header-close-mobile {
  background: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  opacity: 0.01; }

/*wishlist and shopping bag IE9 image fix*/
.lt-ie9 header .sliderTabsModule .imageRollover {
  position: absolute !important; }

.lt-ie9 header .image-wrapper {
  padding-bottom: 155% !important; }

.lt-ie9 .productDetailModule-bigFollow-icon .glyphs {
  top: -8px !important; }

.lt-ie10 .placeholder {
  color: #aaa; }

.lt-ie9 .ms-parent span.placeholder {
  color: #222; }

.lt-ie9 .centered.hero-content-container {
  left: 0px !important; }

.lt-ie9 .productDetailModule-wishlist button span.visible-md.visible-sm.visible-xl {
  width: 90%;
  float: left; }

.lt-ie9 .checkout-summaryBox-container-main dd {
  white-space: normal; }

.lt-ie9 .global_pos_br .gutter-right:before {
  border-right: 0px solid !important;
  content: "" !important; }

/*IE8 Tooltips Checkout Fix */
.lt-ie9 body[data-page='checkoutBasket'] {
  position: static; }

.lt-ie9 body[data-page='checkout'] {
  position: static; }

/*IE8 Detail Zoom Fix */
.lt-ie9 body[data-page='detail'] {
  position: static; }

/*Review Order 3col Title*/
.lt-ie9 .checkout-shippingOptionsTitle p {
  height: 70px; }

.lt-ie9 .checkout-shippingOptionsTitle .icon-circular-bg {
  margin-top: 20px; }

.lt-ie9 .checkout-summaryBox-container-secondary-promo-insert label {
  white-space: normal; }

.lt-ie9:lang(br) #newCreditCardForm .checkout-form-input-left.mb10 label {
  white-space: normal; }

/*after gaining 100 more white hair
Ipad Ios6 Modals Overlay Fix
*/
.ipad.safari6 .modal-open .modal-fade {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px); }

.ipad.safari6 .modal-open .modal-backdrop {
  position: static; }

noscript {
  margin-top: -75px;
  line-height: 2em; }

.lt-ie9 .wrapper {
  margin-bottom: auto; }

/*IE9 Specific*/
.lt-ie10 .listing-sortby-dropdown {
  z-index: 9999; }
.lt-ie10 #divSizesInformation .dropdown ul {
  float: left; }
.lt-ie10 .listing-pagination-dropdown {
  z-index: 100 !important; }

/*# sourceMappingURL=shame.css.map */
