/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Font face*/
/*Icons Placeholder*/
/*Border-radius*/
/*Box-shadow*/
/*Buttons*/
/*Sprite*/
/*Calculate rems*/
/*Effects and animations*/
.singup-delete-icon {
  font-size: 18px;
  margin-top: 2px; }

.radio-modal-newsletter .icon-radio-unchecked {
  -webkit-box-shadow: 1px 1px 0px #cccccc inset;
  -moz-box-shadow: 1px 1px 0px #cccccc inset;
  box-shadow: 1px 1px 0px #cccccc inset;
  background-color: #f5f5f5 !important; }

.radio-modal-newsletter .icon-radio-checked {
  -webkit-box-shadow: 1px 1px 0px #cccccc inset;
  -moz-box-shadow: 1px 1px 0px #cccccc inset;
  box-shadow: 1px 1px 0px #cccccc inset;
  background-color: #f5f5f5 !important; }

.dropdown-signup {
  padding-top: 4px !important; }

.dropdown > span {
  border-bottom: 1px solid #aaaaaa !important; }

.dropdown-signup .list-regular {
  -webkit-transition: all 0 ease-in-out;
  -moz-transition: all 0 ease-in-out;
  -o-transition: all 0 ease-in-out;
  transition: all 0 ease-in-out; }

.dropdown-signup ul {
  position: absolute;
  width: 100%;
  padding-top: 10px !important; }

.dropdown-accordion > span {
  font-family: "Polaris-Book", sans-serif !important; }

@media (max-width: 767px) {
  .alpha-sm {
    padding-right: 0px !important; } }
@media (max-width: 480px) {
  .signup1-mt10-xs {
    padding-top: 10px; } }
.suggestions-container .autocomplete-suggestions {
  position: absolute;
  width: 100%;
  padding-top: 10px !important;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 226px;
  z-index: 9999;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: default; }

.suggestions-container .autocomplete-suggestions div {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  padding-bottom: 13px; }

.suggestions-container .autocomplete-suggestions div strong {
  font-family: "Polaris-Bold", sans-serif !important; }

.suggestions-container .autocomplete-suggestions .selected {
  background-color: #F0F0F0; }

.notice_information span {
  cursor: pointer; }
