/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Font face*/
/*Icons Placeholder*/
/*Border-radius*/
/*Box-shadow*/
/*Buttons*/
/*Sprite*/
/*Calculate rems*/
/*Effects and animations*/
/* ==========================================================================
   Slider Caroussel Article Credits - Content Module
   ========================================================================== */
.heroContentCreditsModule {
  color: white; }
  .heroContentCreditsModule:hover {
    color: white; }
  .heroContentCreditsModule > a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    padding-bottom: 0; }
    .heroContentCreditsModule > a:hover {
      border: none; }

.no-touch .heroContentCreditsModule:not(.no-mask):hover .hero-mask {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  height: 100%;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80); }
.no-touch .heroContentCreditsModule:not(.no-mask):hover .color-black {
  color: white !important;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }
.no-touch .heroContentCreditsModule:not(.no-mask):hover a.color-black {
  color: white !important;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }

.sliderCarouselCreditsModule-static {
  position: relative;
  padding-right: 35px; }

.heroContentCreditsModule img, .hero-contentCategories img {
  width: 100%; }

.hero-contentWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

.hero-contentWrapperCentered {
  position: absolute;
  max-width: 1440px;
  margin: 0 auto; }

.hero-mask {
  background-color: #222222;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=0);
  z-index: 0;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; }
  .hero-mask:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid whitesmoke; }

.hero-content-container {
  width: 100%;
  position: absolute;
  top: 20px;
  padding-left: 20px;
  z-index: 1; }
  .hero-content-container p, .hero-content-container a:link, .hero-content-container a:visited {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.885rem;
    color: white; }
  .hero-content-container a:hover {
    border-bottom: 1px solid whitesmoke; }
  .hero-content-container.centered {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%; }
    .hero-content-container.centered .hero-content {
      width: 100%; }

.hero-contentCategories a:link, .hero-contentCategories a:visited {
  color: #222222; }
.hero-contentCategories a:hover {
  border-bottom: 1px solid #aaaaaa; }
.hero-contentCategories h6 {
  margin-bottom: 5px; }
.hero-contentCategories ul {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.885rem; }
.hero-contentCategories .hero-contentCategories-bg {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 500px; }

.hero-content {
  width: 50%; }

.hero-content-container .hero-content-cta {
  color: white; }

@media (max-width: 1024px) {
  .hero-content {
    width: 100%; }

  .sliderCarouselCreditsModule-static .container {
    padding: 0; } }
@media (max-width: 767px) {
  .hero-contentCategories {
    background-color: white;
    padding: 10px; }
    .hero-contentCategories img {
      display: none; }
    .hero-contentCategories .hero-contentWrapper, .hero-contentCategories .hero-content-container {
      position: relative;
      top: auto;
      left: auto;
      padding-left: 0px; } }
