/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Color*/
/*Typography*/
/*Grid*/
/*Media Queries*/
/*line-height*/
/*Animation time*/
/*Font face*/
/*Icons Placeholder*/
/*Border-radius*/
/*Box-shadow*/
/*Buttons*/
/*Sprite*/
/*Calculate rems*/
/*Effects and animations*/
/* ==========================================================================
   UNFOLLOW HUB
   ========================================================================== */
.unfollow-cards {
  -webkit-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  -moz-box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1) ;
  background-color: white; }

.unfollow-cards.hidden {
  visibility: hidden; }

.profile-pic {
  max-width: 50px; }

.unfollow-share a {
  margin-right: 10px; }

.unfollow-share a span:hover {
  color: #aaaaaa; }

.unfollow-cards .glyphs {
  font-size: 1.6em; }

.unfollow-like {
  border-left: 1px solid #cccccc; }

.unfollow-like-on {
  color: #c2a67d; }

#unfollow-loading {
  text-align: center; }

.unfollow-like {
  margin-top: 1px; }

.unfollow-like {
  cursor: pointer; }

@media (max-width: 767px) {
  .column-margins {
    padding-right: 10px;
    padding-left: 10px; }

  .unfollow-share a {
    margin-right: 20px; } }
@media (max-width: 480px) {
  .unfollow-share a {
    margin-right: 10px; } }
/* ==========================================================================
   Player
   ========================================================================== */
