.FF-mark {
  width:40px;
  height:40px;
  position: absolute;
  top: -25px;
  left: 95px;
  border: none;
}

.FF-card-copy {
  position: relative;
}

.f-farfetch-position {
  position: absolute;
  left: 8px;
  top: 5px;
}