@import '_variables';
@import '_mixins';
@import '_svgIcons';

/*get checkout header & footer */
@import "checkout_header_footer";

/*get checkout top steps bar */
@import "checkout_topStepsBar";

/*get checkout check box */
@import "checkout_forms";

.account-shadow{
      @include box-shadow(1px,1px,1px,rgba(0, 0, 0, 0.05));
      z-index: 1;
  }

/*Account global*/
.account-backTo{
	float:right; 
	@media(max-width: $fablet){
		float:left;
	}
}

/*Details*/
.account-details{
	dl{
		margin: 0;
		dt{
			float: left;
			margin-right: 20px;
			width: 110px;
		}
		dd{

		}
	}
}
.account-details-edit, .account-address-edit, .account-address-add{
	display:none;
}

/*Orders*/
.account-showAll{
	.account-showLess{
		display: none;
	}
	&.triggered a{
		.account-showAll{
			display: none;
		}
		.account-showLess{
			display: inline-block;
		}
	}
}

#mmWrapper iframe {
	width: 100%;
	height: 650px;
	@media(max-width: $fablet){
		height: 1150px;
	}
}
/*Orders popup*/
.account-modal_items{
	float:left;
	width: 100%;
	border-top: 1px solid $color-lightGrey;
	border-bottom: 1px solid $color-lightGrey;
}

.account-modal_itemsPrice{
	float: right;
	text-align: right;
}

.account-order_modal{
	dl{
		margin: 0;
		padding-right: 10px;
		dt{
			float: left;
			margin-right: 20px;
			margin-bottom: 8px;
		}
		dd{
			float: right;
			@include fontSize($font-size5);
			margin-bottom: 8px;
			text-align: right;
		}
	}
}
/* fixes bug in IOS6 ipad */
.ipad .bgcolor-white {
	z-index: 999;
}

.ipad .modal {z-index: 9999;}


@media(max-width: $fablet){
	.rwd-table{
		thead{
			display: none;
		}
		tr{
			padding: 10px 0;
			float: left;
			clear: left;
			width: 100%;
			border-bottom: 1px solid $color-platinum;
			&:last-child{
				border-bottom: none;
			}
		}
	}

	.account-modal_itemsPrice{
		float: left;
		text-align: left;
	}

	/*Reverse order of continue and cancel*/
	.flexbox .flexBox{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	-ms-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
	}
	
	.flexBox .account-continue{
	  -moz-box-ordinal-group: 1;
	  -webkit-box-ordinal-group: 1;
	  -ms-flex-order: 1;
	  -webkit-order: 1;
	  order: 1;
	}
	.flexBox .account-cancel{
	  -moz-box-ordinal-group: 2;
	  -webkit-box-ordinal-group: 2;
	  -ms-flex-order: 2;
	  -webkit-order: 2;
	  order: 2;
	}

	.flexBox .reset-pass-continue{
	  -moz-box-ordinal-group: 1;
	  -webkit-box-ordinal-group: 1;
	  -ms-flex-order: 1;
	  -webkit-order: 1;
	  order: 1;
	}
	
	.flexBox .reset-pass-cancel{
	  -moz-box-ordinal-group: 2;
	  -webkit-box-ordinal-group: 2;
	  -ms-flex-order: 2;
	  -webkit-order: 2;
	  order: 2;
	}

	.flexBox .account-detail-save{
	  -moz-box-ordinal-group: 1;
	  -webkit-box-ordinal-group: 1;
	  -ms-flex-order: 1;
	  -webkit-order: 1;
	  order: 1;
	}
	
	.flexBox .account-detail-cancel{
	  -moz-box-ordinal-group: 2;
	  -webkit-box-ordinal-group: 2;
	  -ms-flex-order: 2;
	  -webkit-order: 2;
	  order: 2;
	}
}

.account-help{
	.glyphs{
		font-size: 1.3em;
		padding-right: 5px;
	}
}

@media(max-width: $mobile){

	.account-backTo-returns {
		float:left;
		margin-top:0px;
		margin-bottom: 10px;
	}
}

.icon-circular-bg {
	border-radius: 50%;
	width: 18px;
	height: 18px;
	background-color: $color-offWhite;
	cursor:pointer;
	& span {
		&:before {
			margin-top: 2px;
			margin-left: 3px;
			float: left;
			font-size: 1em;
		}
	}
}

@import "returns";
