@import '_variables';
@import '_mixins';

.ambassadors-profile {
	margin: 1px;
	img, .mask-overlay {
		cursor:pointer;
	}
	@media(max-width: $fablet){
		margin-bottom: 10px;
		padding: 0;
	}
}

.ambassadors-profile-container .arrow_top{
	top:-7px;
	left:calc(50% - 8px);
}

.ambassadors-profile-container {
	padding: 10px;
}

.sidekick-wrapper {
	@media (max-width:$fablet) {
		background-color:transparent;
		margin:0;
	}
}