@import '_variables';
@import '_mixins';

.animatedAll{
	@include transition(all,$animation-time,ease-in-out);
	/*-webkit-backface-visibility: hidden;*/
	-ms-backface-visibility: hidden;
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;

}

.animation-fade-in{
	@include animation(fadein, $animation-time, 0s ,ease-in, forwards);
}

.animation-fade-inSlower{
	@include animation(fadein, 0.6s, 0s ,ease-in, forwards);
}

.animation-fade-in-09{
	@include animation(fadein09, $animation-time, 0s ,ease-in, forwards);
}

.animation-fade-in-delayed{
	@include animation(fadein, $animation-time, .2s,ease-in, forwards);
}

.animation-fade-out{
	@include animation(fadeout, $animation-time, 0s ,ease-in-out, forwards);
}

.animation-fade-out-delayed{
	@include animation(fadeout, $animation-time, $animation-time ,ease-in-out, forwards);
}

.animation-delay{
    @include animationDelay($animation-time);
}


.animation-to-show{
	@include opacity(0);
	display: block;
	visibility: visible;
	@extend .animation-fade-in;
}

.animation-to-hide{
	@include opacity(1);
	display: block;
	visibility: visible;
	@extend .animation-fade-out;
}

.animation-to-show09{
	@include opacity(0);
	display: block;
	visibility: visible;
	@extend .animation-fade-in-09;
}



.anim-hidden{
	visibility: hidden;
}
.anim-visible{
	visibility: visible;
}

.anim-opacity{
	@include transition(all,$animation-time,ease-in-out);
}

.anim-opacity0{
	@include opacity(0);
	display: none;
}

.anim-opacity1{
	@include opacity(1);
	display: block;
}

.anim-display{
	display: block;
}

.anim-noDisplay{
	display: none;
}


.anim-displayVisible{
	display: block;
	visibility: visible;
}

.anim-noDisplayVisible{
	display: none;
	visibility: visible;
}

.anim-noDisplayHidden{
	display: none;
	visibility: hidden;
}



.anim-notShowAtAll{
	display: none;
	@include opacity(0);
	visibility: hidden;
}
.anim-showAtAll{
	display: block;
	@include opacity(1);
	visibility: visible;
}

.anim-mLeft270{
	margin-left:270px;
}

.anim-mLeft0{
	margin-left:0;
}

.anim-left0{
	left: 0;
}
.anim-left270-off{
	left: -270px;
}

.anim-linkActive{
	color: $color-black!important;
}

.anim-linkInactive{
	color: $color-mediumGrey!important;
}

/*CROSSFADE IMAGES*/
.crossfade {
	@include transition(all,$animation-time,ease-in-out);
    z-index: 99999;
    -webkit-backface-visibility: hidden;
}

.opacity-crossfade{
	@include opacity(0);
	display: block;
}

.fade {
   opacity: 0;
}


.unobtrosive-mask{
	height: 30px;
	z-index: 9999;
}

@media (max-width: $tablet) {
	.anim-linkActive{
		color: white!important;
	}
}






/* begin fadein animation */
@-moz-keyframes fadein { /* Firefox */
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0; }
    to { opacity:1; }

}
@-o-keyframes fadein { /* Opera */
    from { opacity:0; }
    to { opacity: 1; }
}
@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
/* end fadein animation */

/* begin fadein animation */
@-moz-keyframes fadein09 { /* Firefox */
    from { opacity:0; }
    to { opacity:0.7; }
}
@-webkit-keyframes fadein09 { /* Safari and Chrome */
    from { opacity:0; }
    to { opacity:0.7; }

}
@-o-keyframes fadein09 { /* Opera */
    from { opacity:0; }
    to { opacity: 0.7; }
}
@keyframes fadein09 {
    from { opacity:0; }
    to { opacity:0.7; }
}
/* end fadein animation */


/* begin fadeout animation */

@-moz-keyframes fadeout { /* Firefox */
    from { opacity:1; }
    to { opacity:0; }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from { opacity:1; }
    to { opacity:0; }
}
@-o-keyframes fadeout { /* Opera */
    from { opacity:1; }
    to { opacity: 0; }
}
@keyframes fadeout {
    from { opacity:1; }
    to { opacity:0; }
}

