@import '_variables';
@import '_mixins';

.button-label {
	font-family: $font-regular;
	color: $color-black;
	letter-spacing:0;
	text-transform:none;
}

.button-share {
	text-align: center;
	width: 70px;
	padding: 7px 18px 9px 16px;
}

@media (max-width:$mobile) {
	.button-circle-xs {
		@include button_circle(center, "1px 0" , 50%);
		@include border-radius($radius: 50%);
	}
	.button-circle-xs .glyphs{
		float:none;
		position:relative;
		top:1px;
		left:-2px;
	}

	.button-circle-xs .glyphs:before{
		margin:0 9px;
	}
}


