@import '_variables';
@import '_mixins';

/* ==========================================================================
   Careers
   ========================================================================== */

.input_file{
   font-size:.8em;
   color:$color-mediumGrey;
   cursor: pointer;
   border: none;
   border-color: transparent;
} 

.careers{
   img {
      width:100%;
   }
   .careers-leftmenu-wrapper {
      @media (max-width: $fablet) {
         padding-right:0;
      }
   }
   .careers-leftmenu{
      ul{
         width:100%;
         li{
            padding:10px 0;
            cursor: pointer;
         }
      }
       
   }
   .careers-leftmenu-active{
      font-family: "Polaris-Bold", sans-serif;
   }
   		
	.careers-content{

      .helpContact-field-title{
         margin:0 10px;
      } 

      .careers-selector-content{
        .icon-phone,.icon-chat,.icon-contact{
            margin:4px 10px 0 0;
         }
      }
   }
  

   // @media
   //------------------
   @media (max-width: $fablet) {
      .helpContact-title{
         margin:30px 0 20px 0;
      }
      .accordion-helpContact-item{
         margin: 0 -10px 0 -10px;
      }
      
      .careers-leftmenu {
            padding: 10px 40px 0 20px;
            margin-bottom:20px;
            background: $color-white;
            @include box-shadow(0px,1px,2px,rgba($color-black,.05)); 
         }
      .helpContact-contctForm-inputFile{
         display:none;
      }

   }
}


// office
.office-box-wrapper {
   @media (max-width: $fablet) {
      margin-top:10px;
   }
   .hero-content {
      width:80%;
   }
}
.office-box {
   height:220px;
   @include box-shadow(0px,1px,2px,rgba($color-black,.05));
  @media (max-width: $mobile) {
      height:148px; 
   }
   & .office-box-counter {

       font-family: $font-condensed;
       color:$color-mediumGrey;
      letter-spacing: $letter-spacing;
      margin-top:77px;
      @media (max-width: $mobile) {
         text-align:right;
         margin-top:14px;
         padding-right:10px;
      }
      & .office-box-counter-number {
         font-size:100px;
      }

      & .office-box-counter-alt {
         @include fontSize($font-size5);
         text-transform: uppercase;
         margin-top:40px;
      }
   }

   
}