@import '_variables';
@import '_mixins';
@import '_svgIcons';

/* ==========================================================================
   Checkout main box modules
   ========================================================================== */

/*select address page*/
address{
   font-style: normal;
}



.checkout-mainContent-boxModule-addNewTitle{
  @media(min-width:$mobile){
  float:left;
  }
}
.checkout-mainContent-boxModule-addNewTitle h4 a{
  color:$color-mediumGrey;
}
.checkout-mainContent-boxModule-addAddress {
  @media(max-width:$mobile){
  margin-top:10px;
  }
}

.checkout-mainContent-boxModule-addNewAddress{
  @media(max-width:$mobile){
    height: 64px !important;
    min-height: 0px !important;
  }
}

.checkout-mainContent-boxModule{
  background-color: $color-white;
	color:$color-mediumGrey;
	border-right: 1px solid $color-offWhite;
  border-bottom: 1px solid $color-offWhite;
  min-height:238px;
  cursor:pointer;
  transition-property: all;
  transition-duration: .5s;
  @media(max-width:$fablet){
    margin-bottom: 10px;
    border: none;
  }
}

.checkout-mainContent-boxModule .icon-click-collect{
  position: absolute;
  bottom: 15px;
  left: 38px;
  font-size: 45px;
  height: 30px;
}

.checkout-mainContent-boxModule.activeBoxState,.checkout-mainContent-boxModule.activeBoxState h4{
   color: #222 !important;
}

.checkout-mainContent-boxModule-payment{
  border: 1px solid $color-offWhite;
}

.checkout-mainContent-boxModule-action{
  position: absolute;
  bottom: 15px;
  right: 10px;
  @media(max-width:$mobile){
    position:absolute;
    top: 10px;
  }
}
.checkout-mainContent-boxModule_active{
  border:1px solid #ddd;
  z-index: 1;
  color:$color-black;
  word-break:break-word;
  &:after{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: $color-lightGrey;
  }
}

.checkout-mainContent-boxModule-action a{
  color:$color-mediumGrey;
}

.checkout-mainContent-boxModule-action p a:link{
  border-bottom: 1px solid $color-mediumGrey;
  @media (max-width:$fablet) {
    border-bottom:none;
    text-decoration:underline;
    padding:13px;
    margin-left:-13px;
  }
}

.checkout-mainContent-boxModule_active .checkout-mainContent-boxModule-action a{
  color:$color-black !important;
}


/*payment*/

.checkout-mainContent-boxModule-addNewPayment{
   @media(max-width:$mobile){
    height: 100px;
    min-height: 0px !important;
    margin-top: 10px;
  }
}

.checkout-selectPayment-cvv-container-boxHeight{
  min-height: 420px;
}
.checkout-editcvvToken-container label {
margin-right: 5px;
}

.js-checkout-selectShippingAddress-shipMobBtn{
  display:none;
}

.js-checkout-selectPayment-cvv-container{
  display:none;
}

.js-checkout-selectPayment-cvv-CTA {
display: none;
}

/*select payment boxes*/
.checkout-payboxes{
  cursor:pointer;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  &.checkout-payMethod-Box-credit-container{
    border-bottom: none;
  }
}

.checkout-payMethod-Box span{
  margin-top:2px
}

/*svg logos*/

.checkout-mainContent-boxModule-paypal{
  width: 100%;
  padding-top: 80px;
  padding-left: 50%;
  margin-left: -60px;
  float: left;
  position: absolute;
}

.checkout-mainContent-boxModule-paypal-img{
  background-image: $paypal-data-svg;
  background-size: contain;
  background-repeat:no-repeat;
  height: 33px;
  width: 133px;
  float: left;
  position: relative;
}

.no-svg .checkout-mainContent-boxModule-paypal-img {
  background-image: $paypal-file-png;
}

.checkout-mainContent-boxModule-addNewIcon-small{
  text-align: center;
  margin-top:10%;
  @media(max-width:$mobile){
    margin-top:4px;
  }
}

.checkout-mainContent-boxModule-addNewIcon-small span{
  font-size:3.2em;
  @media(min-width:$mobile){
    font-size:9em;
  }
}

.checkout-mainContent-boxModule-payment-cvv-label{
  display: table;
  font-family: "Polaris-Condensed-Bold", "Polaris-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-bottom: 10px;
}

.checkout-mainContent-boxModule-payment-cvv-label .clickTooltips{
  vertical-align: bottom;
}

.js-checkout-sameShipping-container-edit {
  cursor: pointer;
}

