@import '_variables';
@import '_mixins';

/* ==========================================================================
   Checkout confirmation slide
   ========================================================================== */

.checkout-confirmation-whatHapNext .bx-controls-direction{
	display:none;
}

.checkout-confirmation-contact{
	p .glyphs{
		position: relative;
		@include fontSize($font-size2);
		padding-right: 5px;
		top: -2px;
	}
}
.checkout-listItems-topbar-shippingFrom-title{
	margin-top:2px;
} 