@import '_variables';
@import '_mixins';

/* ==========================================================================
   Checkout top steps bar
   ========================================================================== */

   /*top main titles*/
   .checkout-Maintitle-continueShop p{
      float:right;
      @media(max-width:$fablet){
         float:left;
      }
   }
   /*top steps*/

   .checkout-steps-container{
      border-top: 1px solid #ddd;
      @include box-shadow(inset -1px,-1px,1px,rgba($color-black,.1));
   }

   .checkout-steps-container h4{
      -webkit-transform: translate3d(0,0,1px);
      transform: translate3d(0,0,1px);
      @media(max-width:$mobile){
      @include fontSize($font-size6);
      z-index: 2;
      }
   }

   .checkout-steps{
      border-left: 1px solid #ddd;
   	color:$color-mediumGrey;
      padding:20px 0px 20px 20px;
      @media(max-width:$fablet){
         padding:10px 0 10px 15px;
      }
   }

   .checkout-steps:first-child {
      @media(max-width:$mobile){
         padding-left:10px !important;
         z-index: 2;
      }
   }

   /*ios safari z-index bug*/
   .safari.mobile-device{
     z-index: 0;
   }

   .checkout-active-step{
   	background-color: $color-white;
   	color:$color-black;
      &:first-child{
         border-left: none; 
      }

   }

   .checkout-subTitle-container{
   	background-color: $color-white;
      z-index:4;
   }

   .checkout-active-step .arrow_right{
      background-color:$color-white !important;
      z-index: 1;
   }

   .checkout-steps .arrow_right{
      position: absolute;
      right: -7px;
      top: calc(50% - 8px);
      background-color:$color-offWhite;
      @include box-shadow(1px,-1px,0px,#ddd);

   }

/*
confirmation page
*/
.checkout-steps-confirmation-box{
   min-height: 200px;
   background-color:$color-white;
   border-right: 1px solid #ddd;
   &:last-child{
      border-right: none;
   }
   @media(max-width:$fablet){
      margin-bottom:10px;
       min-height: 0px;
   } 
}

.checkout-confirmation-whatHapNext{
   margin-top: 2px;
   @media(max-width: $fablet){
      margin-top: 0px;
   }
}


