@import '_variables';
@import '_mixins';

/* ==========================================================================
   Checkout List Items
   ========================================================================== */

/**
topbar
*/


.checkout-listItems-topbar{
	border-bottom: 1px solid $color-platinum;
	min-height:50px;
}

.checkout-listItems-topbar-shippingFrom-bag{
	padding-top: 5px;
}

.checkout-listItems-topbar-shippingFrom-flag{
	margin-top:5px;

	@media(max-width:$fablet){
		float:right;
	}
}

.checkout-confirmation-orderDetails-listItems .checkout-listItems-topbar-shippingFrom-flag{
	padding-top:0.45%;
}

.checkout-listItems-topbar-shippingFrom-flag.flags:before{
	@media(max-width:$fablet){
		float:right;
	}
}

.checkout-listItems-topbar-estimatedShip{
	float: right;
	min-width: 260px;
	@media(max-width:$fablet){
		width: 100%;
		padding-left: 10px;
	}
}


/*estimatedShip-tooltip is used on review page*/
@media (max-width: 1024px) {
  .checkout-listItems-topbar-estimatedShip-tooltip {
    float: right;
    position: absolute;
    top: 29%;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}}

@media (min-width: 1024px){
	.checkout-listItems-topbar-estimatedShip-tooltip {
	position: absolute;
	top: 30%;
	right: -10px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}}

/*estimatedShip-tooltip-bag is used on shoppingBag only*/
.checkout-listItems-topbar-estimatedShip-tooltip-bag {
    float: right;
    display: table-cell;
    vertical-align: middle;

    @media(max-width:$fablet){
    	margin-right: -10px;
    }
}

.checkout-listItems-topbar-estimatedShip-tooltip-bag {
    float: right;
    display: table-cell;
    vertical-align: middle;
}
@media (max-width: 767px){
.checkout-listItems-topbar-estimatedShip-tooltip-bag{
margin-right: -10px;
}
}


/**
productDetails container
*/

.checkout-listItems-productDetails-container{
	padding-left:5px !important;
}

.checkout-listItems-productDetails-price {
  white-space: nowrap;
}

.checkout-listItems-productDetails-price{
	@media(min-width:$fablet){
		float:right;
	}
	@media(max-width:$fablet){
		float:left;
	}
	@media(max-width:$mobile){
		float:right;
		margin-right: 27px;
	}
	@media (min-width:$fablet){
		padding-left:18px;
	}
}

.checkout-listItems-productDetails-price-review{
	@media(max-width:$mobile){
		float:right;
		margin-right: 20px;
	}
}

/*discount price fix*/
.listing-price{
    display:block;
}

.checkout-listItems-container-store{
	background-color: $color-white;
	margin-bottom:10px;
	@include box-shadow(1px,1px,1px,rgba($color-black,.1));
	z-index:4;
}

.checkout-listItems-productDetails-image a{
	border-bottom:none;
}

.checkout-listItems-productDetails-image img{
	width:100%;
}

.checkout-display-quantity-btn,.checkout-display-quantity-btn-cancel,
.js-checkout-display-size-btn,.js-checkout-display-size-btn-cancel
{
	cursor:pointer;
}

.checkout-listItems-productDetails-detail-actions-movWish{
	white-space: nowrap;
	.glyphs{
		position: relative;
		top: -1px;
		padding-left: 5px;
	}
}

.checkout-listItems-productDetails-detail-quantity{
	min-width: 150px
}
.checkout-listItems-productDetails-detail-size{
	min-width: 150px	
}

/**********
review page
***********/

/**
shipping options
*/


.checkout-listItems-productDetails-container{
    border-right:none !important;
 }

@media (min-width:1025px) {
	.checkout-shippingOptions-container {
		height: 100%;
		position: relative;
		min-height: 100%;
		margin-left: -1px;
	}
}

@media (max-width: $fablet) {
  .checkout-listItems-topbar-shippingFrom-title-review {
    padding-top: 1.8%; } }

@media (max-width: $fablet) {
  .checkout-listItems-productDetails-container-separateShipping {
    border-right: none; } }

.checkout-shippingOptionsTitle {
  border-bottom: 1px solid #ddd;
   }

.checkout-shippingOptionsTitle p {
  display: table-cell;
  vertical-align: middle;
  height: 49px; }


.checkout-shippingOptionsTitle .icon-circular-bg {
	@media (max-width: $fablet) {
	margin: 10px 0 0 0;
	}
}

.checkout-shippingOptions-option .icon-box-unchecked {
  margin-bottom: 10px;
  margin-right: 10px; }


/**********
confirmation page
***********/

.checkout-listItems-productDetails-conf-shipping-container{
	@media(max-width:$mobile){
		float:right;
	}
}

.checkout-listItems-productDetails-disclaimer-container-review .icon-box-checked{
	background-color:$color-white !important;
}

.checkout-listItems-productDetails-disclaimer-title {
    margin-top: 2px;
}

.checkout-listItems-topbar-confirmationPage-shippingFrom-flag{
	padding-top:0.6%;
}

/**
change size and quantity scripts
*/


/*size*/
.js-checkout-display-selectQuantity{
	display:none
}
.js-checkout-display-quantity-btn-cancel{
	display:none
}
/*quantity*/
.js-checkout-display-selectSize{
	display:none
}
.js-checkout-display-size-btn-cancel{
	display:none
}








