@import '_variables';
@import '_mixins';


/* ==========================================================================
   Marketing Flag Chat BR
   ========================================================================== */

.pos0{
   left: -110px;
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
}
.pos1{
   left: 0; 
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
}

#contact_br{
   	z-index: 2; 
   	line-height: .9em; 
   	position: fixed; 
   	top: 160px; 
   	background: $color-offWhite;
   	@include box-shadow(1px, 1px, 1px, #e6e6e6);
   	width: 141px; 
   	height: 80px; 
   	display: block; 
   	outline: none; 

      @media (max-width:$fablet) {
         display:none;
      }
   	
   	
   	a:hover{
   		text-decoration:none;
   		border-bottom:none;
   	}
   	.slide-out-div{
         
         .handle{
            width: 37px;
            height: 80px;
            background: $color-white;
            float: right;
            @include box-shadow(1px, 1px, 1px, #e6e6e6);
         }
         .glyphs{
            font-size: 1.4em;
            clear: both;
            float: right;
            margin: 6px 10px 0px 0px;
            color: $color-black;
         }
      }
      .slide-inner-div{
         width: 110px;
         height: 80px;
         padding-top: 10px;
         .contact-info-flag-br{
            font-size: .85em;
            margin-left: 10px;
            text-align: left;
            display: inline-block;
         }
         .underline{
            text-decoration:underline;
         }
      }
         
   		
   	
}
