@import '_variables';
@import '_mixins';
@import '_svgIcons';

.svg{
	.card-footer-icons {
		/*norten*/
		.norton {
			background-image: $norton-data-svg;
		}
		/*paypal*/
		.paypal{
			background-image: $paypal-data-svg;
		}
		/*pagseguro*/
		.pagseguro{
			background-image: $boleto-data-svg;
		}

		/*visa*/
		.visa {
			background-image: $visa-data-svg;
		}

		/*Mastercard*/
		.mastercard {
			background-image: $master-card-data-svg;
		}

		/*Maestro*/
		.maestro {
			background-image: $maestro-data-svg;
		}

		/*diner Club Int*/
		.dinerclub {
			background-image: $diner-club-card-data-svg;
		}


		/*American Express*/
		.americanexpress {
			background-image: $american-express-data-svg;
		}

		/*boleto*/
		.boleto {
			background-image: $boleto-data-svg;
		}

	}
}

.no-svg{
	.card-footer-icons {
		/*norten*/
		.norton {
			background-image: $norton-file-png;
		}
		/*paypal*/
		.paypal{
			background-image: $paypal-file-png;
		}
		/*pagseguro*/
		.pagseguro{
			background-image: $boleto-file-png;
		}

		/*visa*/
		.visa {
			background-image: $visa-file-png;
		}

		/*Mastercard*/
		.mastercard {
			background-image: $master-card-file-png;
		}

		/*Maestro*/
		.maestro {
			background-image: $maestro-file-png;
		}

		/*diner Club Int*/
		.dinerclub {
			background-image: $diner-club-card-file-png;
		}

		/*American Express*/
		.americanexpress {
			background-image: $american-express-file-png;
		}

		/*boleto*/
		.boleto {
			background-image: $boleto-file-png;
		}

		/*Header*/

		.boleto,
		.paypal,
		.pagseguro,
		.visa,
		.mastercard,
		.maestro,
		.dinerclub,
		.americanexpress {
			-ms-behavior: url(../static/backgroundsize.min.htc);
		}
	}
}


/*ebit*/
.ebit {
		background-image: url('https://a248.e.akamai.net/f/248/52872/0s/img.ebit.com.br/ebitBR/selo/img_19465.png');  
}

/*reclame*/
.reclame {
		background-image: url('http://cdn-static.farfetch.com/content/br/images/footer/selo_reclameaqui.png');
}

/*site-blindado*/
.site-blindado {
		background-image: url('http://cdn.siteblindado.com/seals_aw/farfetch.com br/siteblindado.gif');
}


/* norton */
.norton {
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80px 30px;
	width: 95px;
	height: 30px;
}

/*paypal*/
.paypal {
	float: left;
	background-repeat: no-repeat;
	background-position:  center;
	background-size: 95px 30px;
	width: 110px;
	height: 30px;
}

/*pagseguro*/
.pagseguro {
	float: left;
	background-repeat: no-repeat;
	background-position:  center;
	background-size: 70px 30px;
	width: 70px;
	height: 30px;
}


/*visa*/
.visa {
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60px 30px;
	width: 70px;
	height: 30px;
}

/*Mastercard*/
.mastercard {
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60px 30px;
	width: 60px;
	height: 30px;
}

/*Maestro*/
.maestro {
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 65px 30px;
	width: 65px;
	height: 30px;
}

/*diner Club Int*/
.dinerclub {
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 65px 30px;
	width: 65px;
	height: 30px;
}

/*American Express*/
.americanexpress {
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 65px 30px;
	width: 65px;
	height: 30px;
}

.boleto {
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 55px 30px;
	width: 65px;
	height: 30px;
}
.ebit {
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 29px 30px;
	width: 55px;
	height: 30px;
}
.reclame {
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 95px 30px;
	width: 100px;
	height: 30px;
}
.site-blindado {
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 108px 30px;
	width: 113px;
	height: 30px;
}




.card-footer-image{
	margin-right: 5px;
	margin-bottom:15px;
}
.icon-costumer-charter {
	@include fontSize(35);
	float: left;
	margin-top: -10px;
}

.icon-contact-costumer {
	@include fontSize($font-size4);	
	& span {
		@include fontSize($font-size3);		
	}
}