@import '_variables';
@import '_mixins';

.dropdown{
  position: relative;
  z-index: 4!important;
  >span{
  display: block;
  font-family:$font-regular;
  border-bottom: 1px solid $color-lightGrey;
  padding: 9px;
  position:relative;
    &:before{
      font-size: 1.8em;
      position: absolute;
      content: "\e612";
      top: 5px;
      right:0;
      font-family: $font-gliphs;
    }
    & a {
      color:$color-black;
    }
    &.menuOpen{
      font-family:$font-bold;
      &:before{
        content: "\e611";
      }
    }
    &.glyphs-accordion:before{
      content: "\e614";
    }
    &.menuOpen.glyphs-accordion:before{
      content: "\e613";
    }
  }
  &.dropdown_open ul{
    display:block;
  }
  ul{
    background-color: $color-white;
    @include box-shadow(1px, 1px, 1px, #e6e6e6);
    width:100%;
    padding:10px;
    display:none;
    &.dropdown-list-transparent {
      background-color:transparent;
      box-shadow:none;
      .icon-box-checked,
      .icon-box-unchecked,
      .icon-radio-checked,
      .icon-radio-unchecked{
        background-color:$color-white;
      }
    }
    li{
      &.dropdown-clear-all, &.dropdown-input-clear {
        color:$color-mediumGrey;
        padding-bottom:5px;
        & span:hover, span:visited{
           border-bottom:1px solid $color-mediumGrey;
        }
      }
      padding-bottom:13px;
      &:last-child{
        padding-bottom:0px;
      }

    }
  }
  a {
    padding-bottom:2px;
    color:$color-black;  
      &:hover, :visited {
        border-bottom:none;
        text-decoration: none!important;
      }
  }
  .icon-box-checked,
  .icon-box-unchecked,
  .icon-radio-checked,
  .icon-radio-unchecked{
    background-color:$color-offWhite;
  }
  & label {
    width:100%;
    display:inline-block;
    padding-left:0px;
    .dropdown-label-option {
      padding-bottom:2px;
    }
    & span {
      margin-right:10px;
    }
  }
}

.dropdown-accordion {
  & ul {
  padding-top:30px;
  padding-bottom:0px;
  }

  & .dropdown-clear-all, .dropdown-input-clear {
    position:absolute;
    right:0;
    margin-right:10px;
    top:40px;
    }

    & .dropdown-label-option {
      padding-left:25px;

      & em {
        font-style:normal;
      }
    }

}

.no-touch .dropdown-accordion{
  & li:hover{
      & .dropdown-label-option{
          box-shadow: none!important;
          & em {
             box-shadow: 0px 1px 0px $color-black;
          }
      } 
  } 
}

.dropdown .label-check_active {
  color:$color-black;
}

//hover states
.no-touch .dropdown {

  & li:hover {

    & .label-check-disabled  {
      & .icon-box-checked, & .icon-box-unchecked, & .icon-radio-checked, & .icon-radio-unchecked {
        box-shadow:none;
      }
    }

    & .icon-box-checked, & .icon-box-unchecked, & .icon-radio-checked, & .icon-radio-unchecked {
      @include box-shadow(1px,1px,0px,#ccc,inset);
    }

    & .label-check-disabled .dropdown-label-option{
      box-shadow:none;
      & em {
         box-shadow:none!important;
      }
    }
  }

  & .filter_hasParent li:hover {
    & .dropdown-label-option{
      box-shadow: 0px 1px 0px $color-black;
    }
  }
  
}

.no-touch .dropdown-accordion-multilevel {
   & li:hover {
      & ul li .dropdown-label-option em{
        box-shadow: none;
      }
  }
  
  & ul li ul li:hover{
    & .dropdown-label-option em{
      box-shadow: 0px 1px 0px $color-black!important;
    }
  }
}

/*Listing*/
.no-touch li .FilterListItemLink:hover  {
  border-bottom: 0px;
}
a.FilterListItemLink:active, a.FilterListItemLink:hover {
border: none;
}

/* Multi select tree */
.toplevel_filter span {
  display: none;
}

.dropdown-accordion ul .filter_hasParent {
    padding-top: 0;
    padding-bottom: 0px;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 0px transparent;
    box-shadow: 0px 0px 0px transparent;
  li {
    padding-bottom:13px;
    cursor:pointer;
    &:first-child{
      padding-top:18px;
    }
    &:last-child{
      padding-bottom:0px;
      margin-bottom:0px;
    }
  }
}

/* end of Multi select tree */

/* Links do multiselect devem ter width 100% */
.FilterListItem label a {
  width: 100%;
}


.FilterListItemLink.toplevel_filter.toplevel_active > .dropdown-label-option em{
box-shadow: 0px 1px 0px $color-black;
}

.FilterListItemLink.toplevel_filter.toplevel_active:active{ 
  color:$color-black;
}


a.blocked, a.blocked:hover, a.blocked:visited {
  color:$color-black;
  text-decoration:none;
  cursor: default;
}

li.FilterListItem.blocked, label.label-check-disabled {
  cursor:default;
}

a:hover.FilterListItemLink, .a:active.FilterListItemLink   {
  color:$color-black;
}

.dropdown-no-border  {
  li {
    float:left;
    clear:both;
    width:100%;
  }
  li:hover {
    a {
      box-shadow:none;
    }
  }
}

/*Fix active filters */
.f30d1.toplevel_active.active {
  .fancy-checkbox{
    font-family:"Polaris-Bold", sans-serif;
  }
}

.f30d2.toplevel_active.active, .f30d2.active{
  em{
   border-bottom: 1px solid #aaa
  }
}


@media (max-width:$fablet) {
  .dropdown{
    &.dropdown-accordion >.menuOpen {
      font-family:$font-bold;
    }
    ul{
      &.dropdown-list-transparent {
          .icon-box-checked,
          .icon-box-unchecked,
          .icon-radio-checked,
          .icon-radio-unchecked{
            background-color:$color-offWhite;
          }
      }
    }
  }
  .dropdown-accordion {
    padding:0 7px;
  }
}
