@import '_variables';
@import '_mixins';
@import '_svgIcons';
/* ==========================================================================
   Footer Extra Info BR
   ========================================================================== */

// payment-list
.payment-list{
	li{
		padding: 0;
	}
}

//icons
.icons-americanexpress{
	background-image:$american-express-file-png;
}
.icons-mastercard{
	background-image:$master-card-file-png;
}
.icons-maestro{
	background-image:$maestro-file-png;
}
.icons-visa{
	background-image:$visa-file-png;
}
.icons-dinerclub{
	background-image:$diner-club-card-file-png;
}
.icons-boleto{
	background-image:$boleto-file-png;
}
.icons-paypal{
	background-image:$paypal-file-png;
}

.icons-americanexpress,
.icons-mastercard,
.icons-maestro,
.icons-visa,
.icons-dinerclub,
.icons-boleto,
.icons-paypal{
	background-position: center;
	background-repeat: no-repeat;
	behavior: url(../../static/backgroundsize.htc);
}

/*paypal*/
.icons-paypal {
	background-size: 78px 20px;
	width: 78px;
	height: 20px;
}

/*visa*/
.icons-visa {
	background-size: 50px 25px;
    width: 50px;
    height: 25px;
}

/*Mastercard*/
.icons-mastercard {
	background-size: 50px 25px;
    width: 50px;
    height: 25px;
}

/*Maestro*/
.icons-maestro {
	background-size: 50px 25px;
    width: 50px;
    height: 25px;
}

/*Boleto*/
.icons-boleto, {
	background-size: 50px 22px;
    width: 50px;
    height: 22px;
}

/*American Express*/
.icons-americanexpress {
	background-size: 50px 25px;
    width: 50px;
    height: 25px;
}
// end payment-list

.footer-br{
	h6{
		padding:10px 0 10px 10px;
		border-bottom:1px solid $color-mediumGrey;
	}
	span.glyphs{
		font-size:2.5em;
		color:$color-mediumGrey;
		float:right;
		position:relative;
		top:-30px;
	}
	p{
		padding:20px 10px;
	}
	li{
		float:left;
		margin: 10px;
	}
}