@import '_variables';
@import '_mixins';

.footer a:link, .footer a:visited{
	color:$color-white;
}

.footer {
	width: 100%;
	display: inline-block;
	padding: 10px 0;
	.accordion .accordion-title {
		color: #aaa;
		border-bottom: none;
	}
	form{
		position:relative;
	}

	.footer-countrySelect .chosen-search {
		display:block;
	}

	.footer-languageSelect .chosen-search{
		display:none
	}
}

.footer-privacy {
	padding-left:9px;
	padding-right:9px;
}

.footer-privacy a:link, .footer-privacy a:visited  {
	color:$color-mediumGrey;
	border-bottom:1px solid #aaaaaa;
}

.footer-countrySelect label {
	&  a:link, & a:visited {
		color:$color-mediumGrey;
	}	

	& a:hover, & a:active {
		border-bottom:none;
	}
}

.footer-social-icons {
	padding-left:4px;
	margin-top:16px;
}

.footer-social-icons a{
	margin-right:20px;
}

.footer-social-icons .glyphs {
	font-size:1.7em;
}

/**Medium size breakpoint**/
@media (min-width:$fablet +1) and (max-width:$tablet) {
	.footer-social-icons a{
		margin-right:14px;
	}
}

/**Mobile, Fablets and Tablets**/
@media (max-width:$tablet) {
	.footer {
		padding: 10px 0;
	}

	.footer .accordion-item.mt30 {
		margin-top: 0px;
	}

	.footer-privacy {
		margin-top:40px;
	}

	.footer .accordion-content {
		padding:10px 0px 20px 0px;
	}

	.footer h5 {
		padding: 10px 0px;
		cursor: pointer;
	}

	.footer-languageSelect label {
		padding-left:0;
	}

	.footer-disclaimer{
		
	}
}

/*Br Specific*/
.footer-selected-country {
	margin-top:7px;
	padding-bottom:7px;
	border-bottom: 1px solid $color-mediumGrey;
}

.wrapper:lang(br){
	margin-bottom:-622px;
}

main:lang(br){
	padding-bottom: 622px;
}

footer:lang(br) {
	height:600px;
}

