@import '_variables';
@import '_mixins';

/* ==========================================================================
Global Pos
========================================================================== */

.global-pos {
	z-index:10;
	background-color: $color-offWhite;

	.global-pos-item {
		text-align: center;
		float:none;
	}

	.global-pos-title {
		border-bottom: none;
	}

	.glyphs {
		top: -2px;
	}

	.divider {
		padding: 0 10px;
	}

	.global-pos-content {
		width: auto;
		float: none;
	}

}
.global-pos.accordion{
	.active .accordion-title{
		border-bottom:none;
	}
} 
@media(max-width: $fablet) {
	.accordion-item {
		overflow: hidden;
		text-align: left;
		.accordion-content {
			float: left;
		}
	}

	.global-pos-title {
		display: block;
	}

	.global-pos-item.active .global-pos-content {
		display: block;
	}

	.global-pos-content,
	.global-pos-title > .divider {
		display: none;
	}
}

.no-touch .global-pos-title:hover {
	color: #222;
}

/*Brasil global POS*/
.global-pos-br {
	background-color:$color-mediumGrey;
	color:$color-white;
	.gutter-right {
		padding:5px 0;
		@media(max-width: $fablet){
			padding-left:10px!important;
		}
		&:before{
			top:0;
			right: 10px;
			@media(max-width: $fablet){
				border-right: none;
				border-bottom: 1px solid $color-offWhite;
				right: 0;
			}
		}
		&:last-child {
			&:before {
				border: none;
			}
		}
	}
	.glyphs {
		font-size: 2em;
	}
}