@import '_variables';
@import '_mixins';
@import '_svgIcons';


/* ==========================================================================
   Base
   ========================================================================== */

body {
  font-family: $font-regular;
  line-height: 1.58em;
  position: relative;
  padding-top:75px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
  
.wrapper {
  background-color: $color-offWhite;
  width: 100%;
  min-height: 100%;
  margin-bottom: -316px;
  @media(max-width:$tablet){
    margin-bottom: -320px;
  }
  @media(max-width:$fablet){
    margin-bottom: -340px;
  }
}

header {
  position:fixed;
  width:100%;
  z-index:999;
  background-color:$color-white;
  @include box-shadow(1px,1px,1px,rgba($color-black,.1));
  top: 0;

}

.unfixed  {
  position:absolute;
}

main{
  width: 100%;
  display: inline-block;
  padding-bottom: 316px;
  @media(max-width:$tablet){
    padding-bottom: 320px;
  }
  @media(max-width:$fablet){
    padding-bottom: 340px;
  }
}

footer{
  background-color: $color-black;
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
  position: relative;
  min-height: 296px;
  clear: both;

}

/* ==========================================================================
   Grid
   ========================================================================== */
.field {
  width: 100%;
  display: table;
}

.baseline {
  float: left;
  position: relative;
  padding-left: 1%;
  padding-right: 1%;
}

.col1 {
  width: $col-1;
}

.col2 {
  width: $col-2;
}

.col3 {
  width: $col-3;
}

.col4 {
  width: $col-4;
}

.col5 {
  width: $col-5;
}

.col6 {
  width: $col-6;
}

.col7 {
  width: $col-7;
}

.col8 {
  width: $col-8;
}

.col9 {
  width: $col-9;
}

.col10 {
  width: $col-10;
}

.col11 {
  width: $col-11;
}

.col12 {
  width: $col-12;
}

.alpha {
  padding-left: 0 !important;
}

.omega {
  padding-right: 0 !important;
}

.col-auto{
  width: auto;
}

.gutter, .gutter-mobile{
  &:before{
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    border: 2px solid $color-offWhite;
  }
}

.container{
  max-width: $desktop;
  margin: 0 auto;
  position: relative;
}

/* ==========================================================================
   Links
   ========================================================================== */
a:link, a:visited {
  color:$color-black;
  text-decoration: none;
  &.underline{
    border-bottom:1px solid $color-mediumGrey;
  }
}

p {
  a:link, a:visited{
    border-bottom:1px solid $color-black;
  }
  a.color-medium-grey{
    border-bottom:1px solid $color-mediumGrey; 
  } 

}

a:hover, a:active {
  border-bottom:1px solid $color-mediumGrey;
  &.no-underline{
    border-bottom: none!important;
  }
}

.no-touch a:hover, .no-touch a:active {
  cursor: pointer;
  color: $color-mediumGrey;
}
/* ==========================================================================
   Typography
   ========================================================================== */
.condensed {
  font-family: $font-condensed;
}

.regular {
  font-family: $font-regular !important;
}

.bold {
  font-family: $font-bold;
}

.strike {
text-decoration: line-through;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-condensed;
  font-weight: normal;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  @include fontSize($font-size1);
}

h2 {
  @include fontSize($font-size2);
}

h3 {
  @include fontSize($font-size3);
}

h4 {
  @include fontSize($font-size4);
}

h5 {
  @include fontSize($font-size5);
}

h6 {
  @include fontSize($font-size6);
}

.h1{
  @include fontSize($font-size1);
}

.h2{
  @include fontSize($font-size2);
}

.h3{
  @include fontSize($font-size3);
}

.h4{
  @include fontSize($font-size4);
}

.h5{
  @include fontSize($font-size5);
}

.h6{
  @include fontSize($font-size6);
}

.heading-bold {
  font-family: $font-bold;
  text-transform: none;
  letter-spacing: normal!important;
}

.heading-regular {
  font-family: $font-regular;
  text-transform: none;
  letter-spacing: normal;
}

p{
  @include fontSize($font-size5);
  &.large{
    @include fontSize($font-size4);
  }
}

blockquote,
q {
  @include fontSize($font-size2);
  margin:0;
  padding:0 0 20px 20px;
}

.small{
  @include fontSize(11);
}

.underline{
border-bottom:1px solid $color-mediumGrey;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.uppercase{
  text-transform: uppercase;
}

.letter-spacing{
  letter-spacing: $letter-spacing;
}
/* ==========================================================================
   Alignments
   ========================================================================== */
.centered {
  margin: 0 auto;
}
.reset-lineHeight{
  line-height: 0;
}

.align-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-clear {
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* ==========================================================================
   Positioning
   ========================================================================== */

.static {
  position: static!important;
}

.relative {
  position: relative!important;
}

.absolute {
  position: absolute!important;
}
/* ==========================================================================
   Visibility
   ========================================================================== */
.hide {
  display: none;
}

.show {
  display: block!important;
}

.overflow{
  overflow: hidden;
}
/* ==========================================================================
   Colors And Background Colors
   ========================================================================== */
.color-black {
  color: $color-black!important;
}

.color-dark-grey {
  color: $color-darkGrey!important;
}

.color-medium-grey {
  color: $color-mediumGrey!important;
}

.color-light-grey {
  color: $color-lightGrey!important;
}

.color-off-white {
  color: $color-offWhite!important;
}

.color-white {
  color: $color-white!important;
}

.color-beige {
  color: $color-beige!important;
}

.color-red {
  color: $color-red!important;
}

.bgcolor-black {
  background-color: $color-black;
}

.bgcolor-dark-grey {
  background-color: $color-darkGrey;
}

.bgcolor-medium-grey {
  background-color: $color-mediumGrey;
}

.bgcolor-light-grey {
  background-color: $color-lightGrey;
}

.bgcolor-off-white {
  background-color: $color-offWhite;
}

.bgcolor-white {
  background-color: $color-white;
}

.bgcolor-red {
  background-color: $color-red;
}

/* ==========================================================================
   Blocks and Lists
   ========================================================================== */

.inlineBlock {
  display: inline-block;
  >li{
    display: inline-table;
  } 
  >li:last-child{
    padding-right: 0px;
  }
}

.touch .list-type li{
  margin-bottom: 10px;
}

.list-type{
  margin: 4px 0 0 20px;
}

.list-type li, .list-type h6 {
   margin-bottom: 6px;
}

ul.list-regular li, ul.list-regular h6{
   margin-bottom: 6px;
}

.touch .list-regular li, .touch .list-regular h6{
  margin-bottom: 8px;
  width: 100%;
}

ul.list-type  li{
   list-style-type: square;
}

ol.list-type  li{
  list-style-type: decimal;
}

ul.list-type li ul{
  & li{
    list-style-type: none;
  }
  & li:before{
    content: "-";
    padding-right:10px;
  }
}

dl {
  margin: 0 12px;
}

dt {

  clear: both;
}
/* ==========================================================================
   Forms
   ========================================================================== */
input {
  @include border-radius(0px);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"]{
  -webkit-appearance: none;
}


.input-helper {
    position: relative;
    display: inline-block;
    
    &:before {
        content: '';
        display: block;
        position: absolute;
    }
}
 
.input-helper--radio {
    padding-left: 18px;
 
    &:before {
        top: 1px;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #222;
    }
}

.input-helper--checkbox {
    padding-left: 20px;
 
    &:before {
        top: 0;
        left: 0;
        width: 13px;
        height: 13px;
        border: 1px solid #222;
    }
}
 
input[type="radio"] {
    display: none;
    &:checked + label:before {
        background: #222;
    }
}
 
input[type="checkbox"] {
    display: none;
    &:checked + label:before {
        background: #222;
    }
}

label{
  display: block;
  font-family: $font-bold;
  color: $color-darkGrey;
  padding-bottom: 4px;
}

%generalInput {
  font-family: $font-regular;
  width: 100%;
  border: 0;
  display: block;
  padding: 8px;
  background-color: transparent;
  border-bottom: 1px solid $color-mediumGrey;
  &:focus{
    outline: 0;
  }
}

.input_black {
  @extend %generalInput;
  @include placeholder($color-mediumGrey);
  &:focus{
    background-color:$color-white;
    border-bottom:1px solid transparent;
    @include box-shadow(1px, 1px, 0px, #e6e6e6);
    @include transition();

  }
  &.input_grey_focus{
    &:focus{
    background-color:$color-offWhite;
    }
  }
}

.input_white{
  @extend %generalInput;
  color:$color-white;
  @include placeholder($color-white);
  &:focus{
    background-color:$color-white;
    color:$color-black;
    border-bottom:1px solid transparent;
    @include box-shadow(1px, 1px, 1px, #e6e6e6);
    @include placeholder($color-black);
    @include transition();

  }
}
.input-text-clear-container .input_black{
  padding-right: 39px;
} 

.form-search {
   position:relative; 
  /*Search Icon*/
  .input-search-icon  {
    position: absolute;
    top: 11px;
    left: 6px;
    font-size: 1.4em;
  }

  &.form-search_focus {
    &.form-search_white .glyphs, .form-search_black .glyphs {
      color:$color-black!important;
    }
  }

  .input_black, .input_white {
    padding:9px 25px 9px 30px;
  }
  
  /*Clear Icon*/
  .input-text-clear{
    position: absolute;
    cursor: pointer;
    top: -1px;
    right: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: right;
    &:before{
      top: 13px;
      position: relative;
      right: 13px;
    }
  }
}

.input-suggest{
  position:relative;
  input{
    background-color:$color-white;
    border-bottom: none;
    padding:9px 22px 9px 9px;
  }
  .input_white {
    @include placeholder($color-black);
  }
  .input_black {
     border-bottom:1px solid ($color-white);
  }
  span{
    position:absolute;
    top: 12px;
    right: 10px;
  }
}

input[type="text"].form-validator_error,
input[type="email"].form-validator_error,
input[type="password"].form-validator_error,
input[type="number"].form-validator_error {
   border: 1px solid $color-red;
   background-color:$color-white;
   &:focus{
    box-shadow:none;
   }
}

input[type="text"].form-validator_success,
input[type="email"].form-validator_success,
input[type="password"].form-validator_success,
input[type="number"].form-validator_success {
   border: 1px solid $color-green;
   background-color:$color-white;
   color:$color-black;
   &:focus{
    box-shadow:none;
   }
}

input[type="submit"] {
  border: 0;
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled {}

textarea {
  font-family: $font-regular;
  @include border-radius(0px);
  -webkit-appearance: none;
  &:focus{
  background-color: $color-offWhite;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
-moz-appearance: textfield;
}
input[type=text]::-ms-clear {
   display: none;
}

select{
  width: 100%;
}

.touch select {
    border:none;
    border-bottom: 1px solid $color-mediumGrey;
    padding:8px; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius:0;
    background-image: $arrow-down-data-svg;
    background-size: 12px;
    background-position: 95%;
    background-repeat: no-repeat;
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";  /*Removes default arrow from firefox*/
    cursor: pointer;
    &:focus {
        outline:none;
    }
    &::-ms-expand {/*Removes default arrow from internet explorer*/
        display: none;
    }
}

.no-svg .touch select {
    background-image:$arrow-down-file-png;
    background-position:95% 0px;  /*Position of the background-image*/
    background-size: 12px;
}

.touch select option {
    color:$color-black;
    &:focus {
        color:$color-black;
    }
}

.touch .chosen-container_white select {
    color:$color-white;
    
    background-image: $arrow-down-white-data-svg;
    background-size: 13px;
    background-position: right;
    background-repeat: no-repeat;
}

.touch.no-svg .chosen-container_white select{
    background-image:$arrow-down-white-file-png;
    background-position:98% 0px;  /*Position of the background-image*/
    background-size: 13px;
}

.touch .chosen-container_white select option {
    background-color:$color-white;
}

/* ==========================================================================
   Components
   ========================================================================== */

button{
  position: relative;
  .glyphs{
    font-size:1.25em;
    position: absolute;
    top: 11px;
    right: 18px;
  }
  .glyphs.icon-logo {
    font-size: 1.8em;
    line-height: 1em;
    top: 7px;
  }
}

.col-auto {
  button{
  width: 220px;
  padding-right: 20px; 
  }
}

.button-black {
  @include button($color-black,$color-white, $font-bold, 100%, left, 1, 10px 12px 10px 20px, 20px);
  @include transition(); 
  &:active{
    background-color:$color-lightGrey;
    @include box-shadow(1px,1px,0px,#888,inset);
  }
  &:disabled{
    background-color:$color-lightGrey;
    @include box-shadow-no;
  }
}
.no-touch .button-black:hover{
     background-color:$color-mediumGrey;
     @include box-shadow(1px,1px,0px,#888,inset);
     @include transition();
}

.button-black-circle {
  @include button_circle(center, 0px , 50%);
  background-color:$color-black;
  color: $color-white;
  @include transition();
  &:active{
    @include box-shadow(1px,1px,0px,#888,inset);
    opacity: 1;
 }
}
.no-touch .button-black-circle:hover {
  @include box-shadow(1px,1px,0px,#888,inset);
  @include transition();
}

.button-white {
  display: inline-block;
  @include button($color-white, $color-darkGrey, $font-regular, 100%, left, 1, 8px 12px 8px 20px, 20px);
  @include transition();
  border: 1px solid $color-platinum;
  &:active{
    @include box-shadow(1px,1px,0px,#888,inset);
    opacity: 1;
  }
  &.follow{
    .glyphs{
      top: 10px;
      &:before{
      font-size: 1.1em;
      content: "\e614";
      }
    }
  }
  &.following, &.following:hover{
    color: $color-green!important;
    .glyphs:before{
      content: "\e622";
    }
  }
  &.unfollow:hover{
    color: $color-red!important;
    .glyphs:before{
      content: "\e60b";
    }
  }
  .glyphs{
    font-size:1.25em;
    position: absolute;
    top: 12px;
    right: 18px;
  }
}
.no-touch .button-white:hover{
  @include transition();
   border: 1px solid $color-mediumGrey;
   color: $color-black;
}

.button-facebook {
  @include button($color-facebook, $color-white, $font-bold, 100%, left, 1, 10px 12px 10px 20px, 20px);
  @include transition();
  &:active{
    @include box-shadow(1px,1px,0px,#888,inset);
    opacity: 1;
  }
}
.no-touch .button-facebook:hover{
  @include box-shadow(1px,1px,0px,#555,inset);
  @include transition();
  opacity: 1;
}

.button-white-circle {
  @include button_circle(center, 0px , 50%);
  background-color:$color-white;
  color: $color-black;
  @include transition();
 .glyphs{
    position:relative;
    top: 0;
    right: 0;
  }
}

.button-grey-circle{
  @include button_circle(center, 0px , 50%);
  background-color:$color-offWhite;
  color: $color-black;
  @include transition();
 .glyphs{
    position:relative;
    top: -1px;
    right: 0;
  }
}

.no-touch {
  & .button-white-circle {
    &:hover {
      @include box-shadow(1px,1px,0px,$color-lightGrey,inset);
      @include transition();
      opacity: 1;
    }
    &:active {
      @include box-shadow(1px,1px,0px,$color-lightGrey,inset);
      opacity: 1;
    }
  }
}
 
.button-grey {
  @include button($color-offWhite, $color-black, $font-bold, 100%, left, 1, 10px 12px 10px 20px, 20px);
  @include transition();
  &:active{
    background-color:$color-offWhite;
    @include box-shadow(1px,1px,0px,#888,inset);
    opacity: 1;
  }
  .glyphs{
    font-size:1.25em;
  }
}
.no-touch .button-grey:hover{
    background-color:$color-offWhite;
    @include box-shadow(1px,1px,0px,#888,inset);
    @include transition();
    opacity: 1;
}

.global-button-a:hover{
  border-bottom:none;
}

.cards{
  @include box-shadow(1px,1px,1px,rgba($color-black,.1));
  padding: 20px;
  background-color: $color-white;
  @media(max-width:$fablet){
    padding: 10px;
  }
}

/* ==========================================================================
   Validations
   ========================================================================== */
span.form-validator_error{ 
  position: relative;
  font-family: $font-bold;
  @include fontSize($font-size5);
  color: $color-red;
  margin: 6px 0px 6px 6px;
  float: left;
  clear: left;
  width:100%;
}

span.form-validator_error:empty {
   display:none;
} 

span.form-validator_success{
  position: absolute;
  font-family: $font-bold;
  @include fontSize($font-size5);
  color: $color-green;
  background-color: $color-white;
  top:2px;
  left:0px;
  padding:4px;
  width:100%;
}
p.form-validator_success{
  font-family: $font-bold;
  @include fontSize($font-size5);
  color: $color-green;
  background-color: $color-white;
  padding:4px;

}
/* ==========================================================================
   Information
   ========================================================================== */
%info{
  width: 100%;
  padding:10px 0 10px 0;
  z-index: 9;
  color:$color-white;
  opacity:0.9;
  @include box-shadow(1px,1px,5px,rgba($color-black,.18));
  a:link, a:visited{
    color: $color-white;
    border-bottom: 1px solid $color-white;
  }
  .glyphs {
    font-size: 1.25em;
    margin-top:3px;
    cursor:pointer;
  }

}
.notice_information{
  @extend %info;
  background-color:$color-darkGrey;
}
.notice_warning {
  @extend %info;
  background-color:$color-beige;
}
.notice_error, .validation-summary-errors {
  @extend %info;
  background-color:$color-red;
}

.validation-summary-errors{
  padding-left: 10px;
  margin-bottom: 10px;
}

/* ==========================================================================
   Arrows
   ========================================================================== */
%arrow {
  width: 1.6rem;
  height: 1.6rem;
  background-color:$color-white;
  position:absolute;
  z-index: 9;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform:rotate(45deg);
}
.arrow_top{
  @extend %arrow;
  @include box-shadow(-1px,-1px,2px,rgba($color-black,.1));
}

.arrow_bottom{
  @extend %arrow;
  @include box-shadow(1px,1px,1px,rgba($color-black,.1));
}
.arrow_right{
  @extend %arrow;
  @include box-shadow(2px,-1px,2px,rgba($color-black,.1));
}
.arrow_left{
  @extend %arrow;
  @include box-shadow(-1px,1px,1px,rgba($color-black,.1));
}

%arrow-slider{ 
  width: 22px;
  height: 18px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
%arrow-slider-after{
  margin-top:3px;
  content: " ";
  width: 1.6rem;
  height: 1.6rem;
  background-color:$color-white;
  position:absolute;
  z-index: 9;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform:rotate(45deg);
}

.arrow-slider_top {
  @extend %arrow-slider;
  height:13px;
  width: 23px;
  &:after{
    @extend %arrow-slider-after;
    margin-top:6px;
    margin-left:4px;
    @include box-shadow(-1px,-1px,2px,rgba($color-black,.1));
  }
}

.arrow-slider_bottom{
  @extend %arrow-slider;
  margin-top: 30px;
  position: absolute;
  &:after{
    @extend %arrow-slider-after;
    margin-top: -8px;
    margin-left: 2px;
    @include box-shadow(1px,1px,1px,rgba($color-black,.1));
  }
}
/* ==========================================================================
   Slugs
   ========================================================================== */
.slug{
      font-family: $font-bold;
      line-height: 22px;
    &.slug-beige{
      color: $color-beige;
     } 
    &.slug-red{
      color: $color-red;
    }
    &.slug-mediumGrey{
      color: $color-mediumGrey;
    }
    &.slug-offWhite{
    color: $color-offWhite;
  }
}
/* ==========================================================================
   Mask
   ========================================================================== */
.no-touch .mask-overlay{
    position: absolute;
    background-color:$color-black;
    width: 100%;
    height: 100%;
    top:0;
    filter: alpha(opacity=0);
    z-index: 0;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    @include transition(opacity,.2s,ease-in-out);
    &:hover{
          @include transition(opacity,.2s,ease-in-out);
          height: 100%;
          opacity: 0.2;
    }
  }
/* ==========================================================================
   Loader
   ========================================================================== */   
.mask-loader-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $color-offWhite;
  z-index: 99999;
  opacity: .9;
}

.mask-loader{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  text-align: center;
  >div{
    -webkit-animation:loader 2s infinite;
    -moz-animation:loader 2s infinite;
    animation:loader 2s infinite;
  }
}

@-moz-keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.search-mask-loader{
  top:0;
}
/* ==========================================================================
   Video Container
   ========================================================================== */  
.video-container {
      position: relative;
      //padding-top: 30px;
      height: 0;
      overflow: hidden;
      margin: 2px;
      // original
      //padding-bottom: 56.25%;
      // adjustment size of video and image
      padding-bottom: 51.65%;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
==========================================================================
Logo
==========================================================================
*/ 
.header-logo{
    background-image:$farfetch-logo-data-svg;
    background-size: 134px 18px;
    background-repeat: no-repeat;
    width: 134px;
    height: 18px;
    float: left;
    a{
        width: 100%;
        height: 100%;
        display: inherit;
    }
}
.no-svg{
    .header-logo{
        background-image:$farfetch-logo-file-png;
        -ms-behavior: url(../static/backgroundsize.min.htc);
    }
}

/* ==========================================================================
   Spacing-specific utilities

   Note: Not representative of values we want to be using yet.
   ========================================================================== */
/**
* <type><direction><size>
*/

.pa0 {
  padding: 0!important;
}

.ma0 {
  margin: 0!important;
}

.pa10 {
  padding: 10px;
}

.pa20 {
  padding: 20px;
}

.pa30 {
  padding: 30px;
}

.ma10 {
  margin: 10px;
}

.ma20 {
  margin: 20px;
}

.ma30 {
  margin: 2.31em;
}

.pt10{
  padding-top:10px;
}

.pt20{
  padding-top:20px;
}

.pt30{
  padding-top:30px;
}
.pt50{
  padding-top:50px;
}

.mt10{
  margin-top:10px;
}

.mt20{
  margin-top:20px;
}

.mt30{
  margin-top:30px;
}

.mb10{
  margin-bottom:10px;
}

.mb20{
  margin-bottom:20px;
}

.mb30{
  margin-bottom:30px;
}

.pb10{
  padding-bottom:10px;
}

.pb20{
  padding-bottom:20px;
}

.pb30{
  padding-bottom:30px;
}

.pl10{
  padding-left:10px;
}

.pl20{
  padding-left:20px;
}

.pl30{
  padding-left:30px;
}

.ml10{
  margin-left:10px;
}

.ml20{
  margin-left:20px;
}

.ml30{
  margin-left:30px;
}

.pr10{
  padding-right:10px;
}

.pr20{
  padding-right:20px;
}

.pr30{
  padding-right:30px;
}

.mr10{
  margin-right:10px;
}

.mr20{
  margin-right:20px;
}

.mr30{
  margin-right:30px;
}

/*pixel on footer needs display none*/
#uniquePixelId{display:none;}

/*back to top*/
#back-to-top {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  line-height: 28px;
  right: 20px;
  bottom: 20px;
  background-color: #000;
  &.show {
    visibility:visible;
    cursor:pointer;
    opacity: 0.3;
  }
  span.glyphs {
    font-size: 18px;
    color: #fff;
  }
  @media(max-width:$tablet){
    right: 10px;
  }
}

.iphone #back-to-top {
  bottom: 10%;
}

.icon-loader {
  background: url(../images/loader2.gif) no-repeat;
  width: 16px;
  height: 16px; }