@import '_variables';
@import '_mixins';

/* ==========================================================================
   Help
   ========================================================================== */ 

/*For iFrame*/
#helpContact{
    overflow: hidden;
    body{
      background-color:transparent;
      padding-top: 30px;
    }
}


.helpContact-contctForm-inputEmail,
.helpContact-contctForm-textareaMessage{
   clear: left;
}
.input_file{
   font-size:.8em;
   color:$color-mediumGrey;
   cursor: pointer;
   border: none;
   border-color: transparent;
} 
 
//-----------------------
//	helpContact 
//-----------------------
.helpContact{

/* 
 * Left Menu
 */
    
   .helpContact-leftmenu{
      ul{
         width:100%;
         li{
            padding:10px 0;
            cursor: pointer;
         }
      }
       
   }
   .helpContact-leftmenu-active{
      font-family: "Polaris-Bold", sans-serif;
   }

   .helpContact-Faq-SubCat-Menu {
      cursor:pointer;
   }

   .helpContact-Faq-SubCat.show {
      .helpContact-Faq-SubCat-Title {
         margin-top:0px;
      }
   }
   		
   /* 
    * Content
    */	
	.helpContact-content{
      .helpContact-field-title{
         margin:0 10px;
      } 
      .helpContact-selector{
         margin-bottom: 2px;
      }
      .helpContact-selector-content{
        .icon-phone,.icon-chat{
            margin:4px 10px 0 0;
         }    
            .button-black-circle{
               width: 15px;
               height: 15px;
               margin:4px 10px 0 0;
               &:hover{
                  box-shadow:none;
               }
               .icon-question-mark{
                  position: relative;
                  top: -5px;
                  font-size: .7em;
               }
            }
      }
   }

   .helpContact-info-box{
      min-height:164px;
      .glyphs{
         font-size: 1.25em;
         margin-top: 2px;
      }
   }

   .accordion-white{
      .accordion-white-content{
      }
   }

   // @media
   //------------------
   @media (max-width: $fablet) {
      .helpContact-title{
         margin:30px 0 20px 0;
      }

      //.helpContact-leftmenu,
      .helpContact-selector
      {
         margin-left: -10px;
         margin-right: -10px;
      }
      
      .helpContact-leftmenu {
            padding:10px 20px 0px 20px;
            margin-bottom:30px;
            background: $color-white;
            @include box-shadow(0px,1px,2px,rgba($color-black,.05)); 
         }
      .helpContact-info-box {
                  margin-bottom:10px;                  
      }
      .helpContact-contctForm-inputFile{
         display:none;
      }
   }
// ----------------   
// End .helpContact
// ----------------  
}

@media (min-width:$fablet +1) and (max-width:$tablet) {
   .helpContact-info-box {
      min-height:154px!important;
   }
 }

 /*Isolate icon for iFrame*/
   #contactForm {
      .icon-contact{
         font-size: 1.25em;
         margin:3px 10px 0 0;
      }
   }

.lt-ie9 .helpContact-contctForm-inputFile-wrapper .baseline.omega {
   float:left;
   clear:both;
   padding-left:0!important;
}