@import '_variables';
@import '_mixins';

.fullWidth-hero-carousel{
	opacity: 0;
	margin-bottom: 1px;
	.hero-content-container{
		max-width: 1440px;
		margin: 0 auto;
		position: relative;
		padding: 0 35px;
		@media (max-width:$fablet){
			padding: 0 10px;	
		}
		a{
			color: $color-white;
		}
	}
	.bx-controls{
		position: absolute;
		left: 95%;
		top: 45%;
		z-index: 99;
		width: auto;
		@media (max-width:$fablet){
			left: 90%;
		}
	}
	.bx-controls-direction{
		display: none;
	}
	.bx-pager-item{
		display: block!important;
		margin-bottom: 10px;
		left: 90%;
	}


	.bx-pager.bx-default-pager {
		a{
		position: relative;
		background-color: transparent;
		border: 2px solid $color-white;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		box-shadow: none;
		}
		a.active, a:hover{
			box-shadow: none;
			background-color: transparent;
			&:before{
				content:"";
				position: absolute;
				background-color: #f5f5f5;
				display: block;
				width: 9px;
				height: 9px;
				@include border-radius(50%);
				top:1px;
				left:1px;
			}
		}
	}
}

/*Animation for Slides - TODO*/
.active-slide{
}

@media (max-width: 767px) {
	.fullWidth-hero-carousel {
		position: relative;
	}
	.gutter:before {
		z-index: 1;
		border: none;
		border-bottom: 2px solid whitesmoke;
	}
	.gutter.right {
		border-right: 1px solid whitesmoke;
	}
	.gutter.left {
		border-left: 1px solid whitesmoke;
	}

	.hero-mask:before {
		border: none;
		border-bottom: 2px solid whitesmoke;
	}
}
.bx-viewport{
	li{
		line-height: 0;
	}
}


