@import '_variables';
@import '_mixins';

.category-list li, .category-list a:link, .category-list a:visited{
 	margin-bottom: 10px;
}

.landing-seo{
	position: relative;
	width: 100%;
	float:left;
 	padding:10px;
   .glyphs{
  		position: absolute;
		right: 20px;
		top: 10px;
		font-size: 1.63em;
	}
}

@media (max-width: $tablet) and (min-width:$fablet){
  	.category-list li, .category-list a:link, .category-list a:visited{
  		margin-bottom: 3px;
  	}
}

  /* Media Querie for medium and small devices*/
 @media (max-width:$fablet) {
 	.gutter{
 		&:before{
 		border:none;
 		border-bottom:2px solid $color-offWhite;
 		}
 		&.right{
 			border-right:1px solid $color-offWhite;
 		}
 		&.left{
 			border-left:1px solid $color-offWhite;
 		}

 	}
 	.hero-mask{
 		&:before{
 		border:none;
 		border-bottom:2px solid $color-offWhite;
 		}
 	}
	.landing-seo{
		padding:0;
	 	.landing-seo-title {
	 		& .icon-more:before {
	 			top:-4px;
	 			position:relative;
	 		}
	 		
	 	}
	 	& div:nth-child(3), & div:nth-child(4) {
	 			margin-top:20px;
	 	}
 	}

 }





