@import '_variables';
@import '_mixins';


/* ==========================================================================
   Filters 
   ========================================================================== */
   .listing-landing {
      margin: 20px 0; 
   }

   .listing-sortby-dropdown {
      margin-top:-4px;
   }

   .listing-pagination-dropdown {
      width:62px;
      margin-top:-4px;
      margin-right:10px;
      margin-left:8px;
   }

   .listing-pagination-count {
      margin-top:1px;
      display: inline-table;
   }

   .listing-filter-paging , .listing-filter-paging-bottom {

      & .icon-arrowLeft, .icon-thinArrow {
         cursor:pointer;
         width: 30px;
         height: 30px;
         &:before {
            font-size:1.3em;
            position: relative;
            top: 5px;
            right: -5px;
         }
      }

   }

   .listing-filter-paging , .listing-filter-paging-bottom { 
      @media (min-width:$mobile +1) and (max-width:$fablet) {
         & .icon-arrowLeft, .icon-thinArrow {
            width:24px; 
            &:before {
               right:-6px;
            }
         }
      }
   }

   .listing-sortby-dropdown.dropdown > span {
      font-family: $font-regular;
   }

   .listing-sortby-dropdown.dropdown ul {
      position:absolute;
   }

   .listing-select-designer-linkAll {
      padding-left:8px;
      cursor:pointer;
   }


   .ms-filters-clear-all{
      position:absolute;
   }      
      .ms-filters-clear-all span {
         position: relative;
         top: 3px;
         color:$color-mediumGrey;
         cursor:pointer;   
      }

      .no-touch .ms-filters-clear-all span {
         &:hover {
            border-bottom: 1px solid $color-mediumGrey;
         }
      }

   .listing-dropdown-price-currency {
      display:inline-block;
      margin-top:8px;
      padding-left:2px;
   }

   .listing-dropdown-size-sizeHelpLink, .listing-select-designer-linkAll {
      cursor:pointer;
    }  
      .listing-dropdown-size-sizeHelpLink .underline, .listing-select-designer-linkAll .underline {
         border-bottom:1px solid $color-mediumGrey;
      }
   

   .no-touch{
      .listing-dropdown-size-sizeHelpLink, .listing-select-designer-linkAll {
         & .underline:hover {
            color: $color-mediumGrey;

         }
      }
   }

   .listing-filter-view {
      .heading-bold {
         margin-right:6px;
      }
   }

   .left-filters-wrapper {
      .accordion-content {
         position: relative;

         .ms-clear-all {
            position: absolute;
            right: 0;
            top: 0;

            span {
               color: #aaa;
               cursor: pointer;
            }

            span:hover {
               border-bottom: 1px solid #aaa;
            }
         }
      }
      .accordion-content li {
         padding-left: 0px!important;
         padding-bottom: 15px!important;

         &:last-child {
            padding-bottom: 0;
         }
      }

      .accordion-content label {
         width: 100%;
         display: inline-block;

         .ms-label-option {
            padding-left: 25px;

            em {
               font-style: normal;
            }
         }

         span {
            margin-right: 10px;
         }
      }
   }

   .accordion-content-single-select .toplevel_filter{
       .fancy-checkbox:before {
         width:0px!important;
      }
      .ms-label-option{
         padding-left:0px!important;
      }
   }

   .listing-filters-left-wrapper {
      margin-top:30px;
      @media (max-width:$fablet) { 
         margin-top:0px;
      }
   }

/* ==========================================================================
   Items 
   ========================================================================== */

   .listing-item-wrapper {
      @media (max-width:$fablet) { 
         margin-top:20px;
      }
   }

   .listing-item li{
      position: relative;
      width:25%;
      background-color: $color-white; 
      float: left;
      margin: 0 0px 2px 0;
      overflow: hidden;
      border-right:2px solid $color-offWhite;
      &.listing-department{
         width: 100%;
         background-color: transparent;
         border:none;
      }
      &.listing-seo {
         width: 100%;
         background-color: transparent;
      }
      button{
         position: absolute;
         top:2.5%;
         right:5%;
         color:$color-mediumGrey;
         z-index:3;
         &.listing-wishlist-active {
            color:$color-black;
         }
      }
   }

   .listing-department ~ .listing-department{
      padding-top:30px;
   }

   .listing-item-content{
      @include fontSize($font-size5);
      position:relative;
      min-height: 120px;
      padding: 0% 5%;
      border-top:2px solid $color-offWhite;
      z-index: 2;
      p{
         padding-bottom: 6px;
      }
   }

   .listing-image{
      width: 100%;
      padding-bottom: 133%;
      position: relative;
      background: white;
      img{
         position: absolute;
         width: 100%;
         padding: 8%;
         padding-bottom: 13.2%;
         background-color: white;
         /*-webkit-backface-visibility: hidden; */
         z-index:1;
      }
   }

   .no-touch .listing-image img {
      &.rolloverActive {
         padding: 0; 
         top:-1px;
         z-index:0;
      }
   }

   .listing-item-content-box{
      position:absolute;
      width:100%;
      left:0;
      padding:4px 10px 10px 10px;
   }

   .listing-tag{
      font-family:$font-condensed;
      letter-spacing:$letter-spacing;
      text-transform:uppercase;
   }

   .listing-price{
      span{
         text-decoration: line-through;
      }
   }

   .listing-sale {
      padding-left:10px;
   }



/* ==========================================================================
   Modal Designers
   ========================================================================== */
   .moreDesignersModal{
      li {
         float:left;
         clear:both;
         padding-bottom:18px;
         padding-right:10px;

         &:last-child {
            padding-bottom:0px;
         }
      }
      & .icon-box-checked, & .icon-box-unchecked, & .icon-radio-checked, & .icon-radio-unchecked {
         background-color:$color-offWhite;
         margin-right:10px;
      }

      .moreDesignersModal-listWrapper {
         max-height:420px;
         overflow-y:scroll;
         padding-bottom: 100px;
         @media (max-width:$fablet) {
            max-height:278px;
         }
         & li {
            width:100%;
            & label {
               padding:0;
            }
            & p {
               padding-left:25px;
            }

         }
      }

      .moreDesignersModal-clearlink {
         display:inline-block;
         margin-top:8px;
      }
   }
   .moreDesignersModal-content {
      min-height: 200px;
   }

   .no-touch .moreDesignersModal-listWrapper {
      & li:hover {
         & .icon-box-checked, & .icon-box-unchecked, & .icon-radio-checked, & .icon-radio-unchecked {
            @include box-shadow(1px,1px,0px,#ccc,inset);
         }

         & p {
            text-decoration: underline;
         }
      }
   } 

   .more-designers-list {
         padding: 14px 0;
         font-family: $font-bold;
         margin-top: -6px;
         background-color: $color-offWhite;
      @media (max-width: $fablet) {
         margin-top: -3px;
      }  
      ul {

         li {
            color: $color-lightGrey;
            float: left;
            width: 3.65%;
            text-align: center;
            clear:none !important;
            padding: 0px !important;
            @include fontSize($font-size4);
            &:first-child {
               @media (min-width: 993px) {
                 width: 5.1%;
               }
            } 
            &
            a {
               color: $color-mediumGrey;
            }
            a:hover {
               border-bottom: 0;
               color: $color-black;
            }
         }
      }
      @media (max-width: 992px) {
         ul {
            padding: 0 10px;
            li {
               padding: 10px 0;
               width: 11%;
            }
         }
      }
   }

   .padding-controller {
      @media (max-width: 992px) {
         padding: 0 !important;
      }
   }

   .designers-alphabetic-filter-active {
      color: $color-black !important;
   }

   .designers-item-opacity-disable{
    opacity: .5;
  }

   .designers-list-item-title {
      @include fontSize($font-size4);
   }
  
  .designers-list-item-title:hover {
     color: $color-black !important;
     text-decoration:none;
     border-bottom: 0;
   }

   .letter-disabled {
      color: $color-lightGrey !important;
      cursor: default !important;
   }


/* ==========================================================================
   Media Queries
   ========================================================================== */

   @media (min-width:$tablet +1) {
      .left-filters-wrapper.col3, .listing-itemsFound.col3 {
         width:20%;
      }
      .listing-item-wrapper.col9, .listing-filter-top-right.col9 {
         width:80%;
      }
   }


   @media (min-width:$fablet +1) {
      .left-filters-wrapper, .listing-filter-sort-dropdown {
         display:block!important;
         overflow:visible!important;
      }
      .listing-pagination-count {
         padding-right:5px;
      }
      .listing-pagination-dropdown {
         margin-left:5px;
      }

   }

/**
 * Media Querie for medium devices
 */
 @media (min-width:$fablet +1) and (max-width:$tablet) {
   .listing-item li{
      width:33.33%;
   }
   .listing-dropdown-price-max {
      margin-top:20px;
   }

   .listing-dropdown-price button{
      margin-top:10px;

   }
 }

/**
 * Media Querie for fablets
 */
 @media (min-width:$mobile +1) and (max-width:$fablet) {
   /*Grid 2 items*/
   .listing-item li{
      width: 33.33%;
   }

   .listing-item-fullWidth li {
      width:50%;
   }
 }

/**
 * Media Querie for small devices mobile and fablet
 */
 @media (max-width:$fablet) {


   .listing-landing{
      margin: 0px;
      h4{
         padding-left:10px;
      }
   }

   /*Chose Grid*/
   .listing-filter-view .glyphs {
      font-size:2em;
      cursor:pointer;
      color:$color-black;
   }

   /*sortby*/
   .listing-filter-sort {
      & .listing-filter-sort-title { 
         float: right;
         padding-right:0;
      }
   }

   .listing-filter-sort-dropdown {
      background-color: $color-white;
      @include box-shadow(1px,1px,1px,rgba($color-black,.1));
      top:9px;
      padding-top:13px;
      width:100%;
      z-index:5;
      & .dropdown {
         padding-bottom:10px;
         &> span{
            display:none;
         }
         &> span{
            border:none;
         }
         & ul {
            display:block!important;
            position:relative;
            box-shadow:none;
         }
      }
   }

   /*Fix apply and clear on mobile*/
   .listing-filters-apply_fixed{
      border-top: 1px solid $color-platinum;
      background-color: $color-white;
      padding: 10px 0;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 9;
   }
	
   .listing-item li.listing-department {
      padding-bottom:10px;
      padding-left:10px;
   }

   .listing-seo-acordion-tittle {
      cursor:pointer;
      & .glyphs:before {
         font-size:2em;
         color:$color-mediumGrey;
         text-align:right;
         position:relative;
         top:6px;
         right:-4px;
      }
   }

   .listing-itemsFound {
      position:relative;
      top:4px;
   }

   .listing-backTop {
      padding-left:10px;
   }

   .listing-filter-paging-bottom {
      padding-right:10px;
   }

   .left-filters-wrapper .input_black {
      border-bottom:1px solid $color-mediumGrey;
      &:focus {
         border-bottom:1px solid $color-white;
      }
   }

   .ms-filters-clear-all {
      position:static;
      margin-top:8px;
   }
   .listing-dropdown-price .list-regular{
      padding-bottom:40px;
   }

   .listing-pagination-count {
      padding-right:2px;
   }
   .listing-pagination-dropdown {
      margin-left:0px;
   }

   .listing-backTop .glyphs {
      top:0px;
   }

   .listing-sortby-dropdown li.hide {
      display:block;
   }

   .touch .listingSave {
      width:45px;
      height:45px;
      top: -1%;
      right: 1%;
      background-color:transparent;
   }

   .touch .listing-item-fullWidth .listingSave {
      top:0%;
   }
   
   .listing-item-fullWidth .icon-favourites {
      font-size: 1.65em;
   }
 }

 @media (max-width:$mobile)  {
   /*Grid 2 items*/
   .listing-item li{
      width: 50%;
   }

   /*Grid 1 items*/
   .listing-item-fullWidth li {
      width:100%;
   }
 }

 .FilterMain.GroupedFilter {
   display: none; }


   /* WAITING DIV */ 
   #wait {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: $color-offWhite;
      z-index: 99999;
      opacity: .9;
   }
   #wait-multiselect-loader {
      position: fixed;
      top: 80%;
      left: 80%;
      margin-left: -25%;
      margin-top: -5%;
      text-align: center;
      @media (max-width:$fablet)  {
         top: 50%;
         left: 50%;
         margin-left: -16px;
         margin-top: -16px;
      }
      >div{
         -webkit-animation:loader 2s infinite;
         -moz-animation:loader 2s infinite;
         animation:loader 2s infinite;
      }
   }

   #wait-fulldesignerslist-loader {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -16px;
      margin-top: -16px;
      text-align: center; }
      #wait-fulldesignerslist-loader > div {
         -webkit-animation: loader 2s infinite;
         -moz-animation: loader 2s infinite;
         animation: loader 2s infinite; }    

         @-moz-keyframes loader {
            0% {
               opacity: 0;
            }
            50% {
               opacity: 1;
            }
            100% {
               opacity: 0;
            }
         }
         @-webkit-keyframes loader {
            0% {
               opacity: 0;
            }
            50% {
               opacity: 1;
            }
            100% {
               opacity: 0;
            }
         }
         @keyframes loader {
            0% {
               opacity: 0;
            }
            50% {
               opacity: 1;
            }
            100% {
               opacity: 0;
            }
         }



