
@import '_variables';
@import '_mixins';

/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 */

.ms-parent {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width:100%!important;
}

.ms-parent-open > button{
  font-family: $font-bold;
}

.ms-choice {
  border:0;
  outline: 0;
  padding:0;
  background:none;
  width:100%!important;
  text-align:left;
}

.ms-choice.disabled {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ms-choice > span {
    display: block;
    padding:7px 9px;
    padding-top:0;
  	border-bottom: 1px solid $color-lightGrey;
}

.ms-choice > span.placeholder {
}


.ms-choice > div {
    position: absolute;
    top: 0px;
    right:0px;
	@extend %glyphs;
	font-size: 1.8em;
	&:before {
		content: "\e614";
	}
	&.open:before {
    	content: "\e613";
	}
}

.ms-drop {
    display: none;
    margin-top: -1px;
    padding: 0;
    position: relative;
    z-index: 9;
    width:100%!important;
}

.ms-drop.bottom {
    top: 100%;
}



.ms-drop.top {
    bottom: 100%;
}

.ms-search {
    display: inline-block;
    margin: 0;
    min-height: 26px;
    padding: 4px;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 10000;
}

.ms-search input {
    width: 100%;
}

.ms-search, .ms-search input {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.ms-no-results {
  padding: 5px 8px;
}

.ms-drop ul {
    overflow: auto;
    margin: 0;
    padding: 4px;
    margin-top: 20px;
    &.ms-list-no-results {
      padding:0;
      margin:0;
    }
}

.ms-drop ul > li {
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
    padding-bottom: 15px;
    cursor:pointer;
    padding-left:0px!important;
}

.ms-drop ul > li .disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
    display: block;
    float: left;
}

.ms-drop ul > li.group {
    clear: both;
}

.ms-drop ul > li label {
    width: 100%;
  	font-family:$font-regular;
  	letter-spacing:0;
  	text-transform:none;
  	cursor:pointer;
  	float:left;
  	padding-left:2px;
  	padding-bottom:18px;
    color:$color-black;
  	& i {
      content: "";
    	position: relative;
  		width: 15px;
  		height: 15px;
  		top:2px;
  		float: left;
  		background-color: $color-white;
  		color: $color-black;
  		@extend %glyphs;
  		margin-right:10px;
  	}
    & .ms-drop-option {
      padding-bottom:2px;
      padding-left:25px;
    }
}

.no-touch .ms-drop ul > li label {
  
  &:hover {
     .ms-drop-option {
    }
    i{
        @include box-shadow(1px,1px,0px,#ccc,inset);
    }
  }
} 

.no-touch .ms-drop ul > li label.label-check-disabled {
  cursor:default;
  &:hover {
      .ms-drop-option {
        box-shadow: none;
      }
  }
}

.ms-drop-selected {
    & label{
      color:$color-black!important;
    }
    & i{
        @include box-shadow(1px,1px,0px,#ccc,inset);
        &:before{
      	content: "\e61e";
        line-height:1.2;
        font-size:1.3em;
        @include transition(all, .35s, linear);
        }
    }
}

.ms-drop ul > li.multiple label {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ms-drop ul > li label.optgroup {
    font-weight: bold;
}

.ms-drop input[type="checkbox"], .ms-drop input[type="radio"] {
    vertical-align: middle;
    display:none;
}

.ms-clear {
	text-align:right;
	cursor:pointer;
  position:absolute;
  right:2%;
  top:-18px;
  color:$color-mediumGrey;

}

.no-touch .ms-clear:hover {
    border-bottom:1px solid $color-mediumGrey;
}

.ms-drop-text-clear {
    position: absolute;
    top: 2px;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: right;
    &:before {
      top: 13px;
      position: relative;
      right: 13px;
  }
}
.ms-parent-single {
  i {
    display:none;
  }

  .ms-search {
    padding-left:1px;
  }

  .ms-choice > span {
    font-family: $font-regular;
    padding:9px 9px;
  }

  .ms-choice > div {
    top:6px;
  }

  .ms-drop ul {
    padding-left:7px;
  }

  .ms-drop-option {
    padding-left:0px;
  }

}


