@import '_variables';
@import '_mixins';
@import '_svgIcons';

.svg .checkout-mainContent-boxModule-mc {
	.checkout-clickandcollect {
		width: 91px;
		height: 46px;
		background-size: 86px 46px;
		left: 35%;
		top: 40%;
	}

	@media (max-width:$mobile) {
		min-height: 100%;

		.checkout-clickandcollect {
			position: static;
        	margin-left: 6px;
		}
    }
}

.checkout-border-top {
    border-top: 1px solid $color-offWhite;
}

.checkout-border-bottom {
    border-bottom: 1px solid $color-offWhite;
}

.checkout-clickandcollect-center {
    position: absolute;
    top: 30%;
}
.checkout-clickandcollect-center-glyphs {
    top: 36%;
    right: 10px;
    position: absolute;
}

.checkout-clickandcollect-center-text {
    margin-left: 90px;
}

.checkout-clickandcollect-info-wrapper .checkout-clickandcollect {
    height: 32px; 
}

.checkout-clickandcollect-info-message {
    padding-left: 95px;
    padding-top: 0.4%;
}

.checkout-mc-toggleListMap li {
    cursor:pointer;
}

.checkout-goToNearMarker {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
}

.checkout-map-open dt{
    width: 65px;
}

.checkout-map-dl {
    dd, dt {
        margin: 0px;
    }
}

.checkout-summaryBox-container-secondary-cancelBtn {
    @media (max-width:$tablet) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.checkout-mcAccordionTarget, .js-checkout-mcAccordionTarget-Address {
	background-color: $color-white;
	cursor: pointer;
	z-index: 1;
}

.js-checkout-mcAccordionTarget-Address {
	margin-top: 2px;
}

.checkout-mc-main-container {
	display: none;
	@media (max-width:$fablet) {
		margin-top: 10px;
	}
}

.returns-mc-main-container {
	display:block;
}

.checkout-mc-selectedMcAddress {
	display: none;
	border-top: 1px solid $color-offWhite;
}

.checkout-mc-toggleMcResultsMap {
	height: 320px; 
}

.checkout-mc-loader {
	height: 300px;
	background-color: #f1f1f1;
	padding-top: 15%;
	text-align: center;
	z-index: 3;
	width: 100%;
	position: absolute;
}

.checkout-mc-fauxTable-boutAddressMob {
	@media (max-width:$mobile) {
		margin-bottom: 10px;
	}
}

.checkout-mc-fauxTable-distance {
	@media (max-width:$mobile) {
		text-align: right;
		position: absolute;
		right: 0;
		margin-top: 19px;
	}
}

.checkout-mc-fauxTable-selectBtn-showMore {
	cursor: pointer;
	border-bottom: 1px solid $color-black;
}

.checkout-mc-fauxTable-selectBtn {
	@media (max-width:$fablet) {
		float:right;
	}

	@media (max-width:$mobile) {
		float:left;
		text-align: left;
		margin-top:10px;
		margin-bottom: 10px;
		position: absolute;
		top: -10px;
		right: 10px;
	}

	span {
		cursor:pointer;
		border-bottom: 1px solid $color-black;
	}
}

.no-touch .checkout-mc-fauxTable-selectBtn span:hover { 
	color: $color-mediumGrey;
	border-bottom: 1px solid $color-mediumGrey;
}

.checkout-mc-fauxTable-selectBtn-action-change-action {
	cursor: pointer;
	border-bottom: 1px solid $color-black;
}

.no-touch .checkout-mc-fauxTable-selectBtn-action-change-action:hover { 
	color: $color-mediumGrey;
	border-bottom: 1px solid $color-mediumGrey;
}

.checkout-mc-fauxTable-title-mobile {
	@include fontSize($font-size5);
}

.checkout-mc-fauxTable-selectBtn-action-change {
	@media (max-width:$mobile) {
		float: right;
	}
}

.tipsy-inner {
	max-width: 400px;
	width: 230px;
	float: left;
}

.js-mc-payment-continue-btn {
    display: none;
}

/*returns click collect*/
.account-returns-click-colect {
	padding-bottom: 0;
}

.account-returns_border {
	border-bottom: 1px solid $color-platinum;
}

.account-returns-cancelBtn {
	@media(max-width: $tablet) {
		padding-top: 20px;
	}
}

.account-returns-packages-tooltip {
	margin-top: 5px;
}

.checkout-shoppingBag-Acceptance .modal-content {
    max-height: 518px;
    overflow-y: scroll;
}

.checkout-map-whitePin-info {
	min-width: 275px; 
}

.checkout-map-blackPin-info {
	min-width: 200px; 
}

/*Map*/

.infoWindowMyLocation {
	width: 90px;
}

#map-canvas img {
    max-width: none !important;
}
#map-canvas dl {
    margin-left: 0px !important;
}

.checkout-map-pin-text {
	float: left;
}

.svg{
    .checkout-map-pin-white {
        background-image: $pin-2-data-svg;
    }
    .checkout-map-pin-black{
        background-image: $pin-2-black-data-svg;
    }
}
.no-svg{
    .checkout-map-pin-white {
        background-image: $pin-2-file-png;
    }
    .checkout-map-pin-black{
        background-image: $pin-2-black-file-png;
    }
}

.checkout-map-pin-white,
.checkout-map-pin-black{
	background-repeat: no-repeat;
	float: left;
	height: 25px;
	width: 30px;
}

/*autocomplete*/
.checkout-mc-searchForm {
	.autocomplete-suggestions {
		background-color: $color-white;
		border: 1px solid #eee;
		margin-top: -1px;
		padding-top: 10px;
		overflow: auto;
		margin-right: 1%;
		width: 100% !important;
	}

	.autocomplete-suggestion {
		font-size: 13px;
		font-family: $font-regular;
		padding: 5px 10px;
		&:hover {
			color: $color-white; 
			background-color: $color-black;
		}
	}

	strong {
		font-family: $font-bold; 
	}

	.autocomplete-selected {
		background-color: $color-black;
		color: $color-white;
		&:hover {
			background-color: $color-black;
		}
	}
}

.header-autocomplete-containter {
	width: 100%;
}

.checkout-mc-days,
.checkout-mc-timeOpen {
	width: 130px;
}