@import '_variables';
@import '_mixins';

[data-page="affiliates"] .wrapper{
	overflow: hidden;
}

/*Hero*/
.affiliates-sidekick{
	@media (max-width:$fablet){
		background-color: transparent;
		margin-bottom:0px;
	}
	& .sidekick-seo {
		@media (max-width:$fablet){
			color:$color-black;
		}
	}
}

.sliderSingleModule{
	@media (max-width:$tablet){
		/*Landing - change to 3 columns*/
		width: 33.33%;
	}

	@media (max-width:$mobile) {
		/*Landing - change to 1 columns*/
		width: 100%;
	}

	.sliderSingle-content{
		@media (max-width:$mobile) {
			padding: 10px;
			min-height: 60px;
		}
	}
}

.affiliates-content {
	& .h5 {
		@media (max-width:$tablet){
			@include fontSize($font-size5);
		}
		
		@media (max-width:$mobile) {
			@include fontSize($font-size5);
		}
	}
}

.contact-affiliates {
	@include fontSize($font-size4);	
	& span {
		@include fontSize($font-size3);		
	}
}

.card-shadow {
	@include box-shadow(1px,1px,1px,rgba($color-black,.1));
}

