@import '_variables';
@import '_mixins';

/*global margins*/
.quick_marginbottom{
	border-bottom: 1px solid $color-platinum;
}

.js-quick-boxSelector-container{
	display:none;	
}

.js-quick-change-action-cancel{
	display:none;
}

.js-quick-addNewForm-container{
	display:none;
}

.js-quick-editForm-shipping-container{
  display:none;
}

.js-quick-editForm-billing-container{
  display:none;
}

.js-quick-editForm-cardDetails {
  display:none;
}

.quick_topactions-container-change-actions-open-default {
  .js-quick-change-action-cancel {
    display: block;
  }
  .js-quick-change-action-change {
    display: none;
  }
}

.checkout-quick-module-open-default {
  display: block;
}

.svg .checkout-mainContent-boxModule-mc {
  @media (max-width:$mobile)  {
  	min-height: 100%;
  }
}

.svg .checkout-mainContent-boxModule-mc .checkout-clickandcollect{
  width: 91px;
  height: 46px;
  background-size: 86px 46px;
  left:35%;
  top:40%;
  @media (max-width:$mobile)  {
  	position:static;
  	margin-left:6px;
  }
}

.quick_topactions-payment-cardLogos {
  @media (max-width:$fablet)  {
    clear:both;
    float:left;
    width:100%;
    margin-bottom:10px;
  }
}

#quick-TogglePlusShipping.icon-more {
  color:$color-mediumGrey;
}

.quick-editChange-cardDetail-cancel {
  @media (max-width:$mobile)  {
    text-align: left;
  }
}

.quick-checkout-wrapper .checkout-selectPayment-cvv-container-boxHeight {
  min-height: 340px;
}