@import '_variables';
@import '_mixins';

.sitemap-section{

}

.sitemap-header{
	padding-bottom: 10px;
	border-bottom: 1px solid $color-mediumGrey;
}

@media(max-width:$fablet){
	.sidekick-wrapper{
		background: none;
		margin:0;
		h1{
			color: $color-black;
		}
	}
}

