@import '_variables';
@import '_mixins';

/**
 *
 * CSS for Size Help
 *
 */
 .sizehelp{
 	border:1px solid $color-offWhite;

 	th,td{
 		padding-left: 10px;
 	}
 	th{
 		border-bottom:1px solid $color-offWhite;
 		border-right: 1px solid $color-offWhite;
 		text-transform:uppercase;		
 	}
 	td{
 		border-bottom:1px solid $color-offWhite;
 		border-right: 1px solid $color-offWhite;
 		&.sizehelp-remove-border {
			border-bottom:none;
		}
 	}
 }


 .sizehelp-colspan {
 	td{
 		&:nth-child(even) {
			border-right:none;
		}
 	}
 }

 .sizeGuideModal{
 	.pinned{
 		border-right:0;
 		width:20%;
 		@media (min-width: $fablet +1) and (max-width: $tablet) {
      		width: 28%; 
      	}
 		@media (min-width:$mobile +1) and (max-width:$fablet) {
 			width:24%;
 			overflow-x: auto;
 		}
 		@media (max-width:$mobile)  { 
 			width:35%;
 			overflow-x: auto;
 		}
 	}
 	h4{
 		letter-spacing: 0px;
		text-transform: none;
 	}
 	.modal-content {
 		padding:0;
 	}

 	.table-wrapper div.scrollable {
 		margin-left:20%;
 		@media (min-width: $fablet +1) and (max-width: $tablet) {
      		margin-left:28%; 
      	}
 		@media (min-width:$mobile +1) and (max-width:$fablet) {
 			margin-left:24%;
 		}
 		@media (max-width:$mobile)  { 
 			margin-left:35%;
 		}
 	}
 }

/*interactive hover states*/
.no-touch {
	.sizehelp{
		th{
			&.sizehelp-interactive_hover{
 			background-color:$color-offWhite;
			color:$color-black;
 			}
 			&.sizehelp-nohover{
			background-color:$color-white;
			color:$color-black;
			}
		}
 	}

	/*hover interactive styles*/
	 .sizehelp-interactive_hover{
	 	background-color:$color-offWhite;
		color:$color-black;
		&.sizehelp-interactive-selected_hover{
			background-color:$color-black;
			color:$color-white;
		}
	}

	/*remove styles from pinned table*/
	.pinned .sizehelp .sizehelp-interactive-selected_hover {
		background-color:$color-offWhite;
		color:$color-black;
		&.sizehelp-nohover {
			background-color:$color-white;
		}
	}

	.pinned .sizehelp .sizehelp-interactive_hover {
		& .sizehelp-nohover {
			background-color:$color-white;
		}
	}

	.sizeGuide-notify {
		cursor:pointer;
	}
}

/*notify scroll*/
.modal-sizehelp-table-info-scroll .col3 {
	width:20%;
	@media (min-width: $fablet +1) and (max-width: $tablet) {
		width: 28%; 
	}
	@media (min-width:$mobile +1) and (max-width:$fablet) {
		width:24%;
	}
	@media (max-width:$mobile)  { 
		width:35%;
	}
	
}

/*specific table changes*/
.sizeguide-overflow .pinned {
	overflow-x: auto;
}

.sizeGuideModal div.table-wrapper div.scrollable {
    overflow:auto;
}

/*click&collect*/
.modal-sizehelp-multichannel {
	.icon-box-arrow-icon {
		font-size:5em;
		max-height:48px;
	}
	p {
		margin-top:13px;
		@media (max-width:$mobile)  {
			margin-top:6px;
		}
	}
}

