@import '_variables';
@import '_mixins';

/*sliderSingle static version*/
.sliderSingleModule {
	overflow:hidden;
}
.sliderSingleModule img{
	display:block;
	width:100%
}
.sliderSingle-content{
	position: relative;
	padding: 10px;
	background-color: $color-white;
	float:left;
	width: 100%;
	z-index: 9;
	min-height:115px;
}

.sliderSingle-content .arrow_top{
	top:-7px;
	left: calc((50%) - 8px);
}

.sliderSingle-content-topArrow{
	width: 15px;
	height: 15px;
	position: absolute;
	left: 0;
	right: 0;
	top: -7px;
	margin-left: auto;
	margin-right: auto;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background: #fff;
}

.sliderSingle-content h3,h4{
	margin:0;
}

.sliderSingle-content-secondaryTitle{
	width: 80%;
}

.sliderSingle-content-CTA{
	margin-top: 0.5em;
	a:link, a:visited{
		color:$color-black;
	}
}

.sliderSingleModule .bx-controls-direction{
	position: relative;
}

.sliderSingleModule .bx-controls-direction .bx-prev{
	position: absolute;
	top:50%;
	right: 40px;	
	border: none;
	bottom: 17rem;
	margin-top: auto;
	margin-bottom: auto;
	@include border-radius (20px);
}

.sliderSingleModule .bx-controls-direction .bx-next{
	position: absolute;
	top: 50%;
	right: 10px;
	border: none;
	bottom: 17rem;
	margin-top: auto;
	margin-bottom: auto;
	@include border-radius (20px);
}

.sliderSingleModule .bx-pager{
	position:absolute;
	bottom:5px;/*IE8 Fallback*/
	bottom: 12.5rem;
	left: 43%;  
	z-index: 1000;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

/*Double edit slider*/
.sliderDouble{
	position: relative;
	background-color:$color-white;
	.sliderDouble-image{
		line-height: 0;
		img{
			max-width: 100%;
		}
	}
	.sliderDouble-content{
		text-align: center;
		padding:10px 0;
	}

	&.gutter{
		margin-bottom: 2px;
	}
}
