@import '_variables';
@import '_mixins';

.sliderRecommendationsModule .bx-wrapper{
	margin: 0;
}

.sliderRecommendations li{
	
}

.sliderRecommendations-content{
	position: relative;
	background-color: $color-white;
	text-align: center;
}

.sliderRecommendations-content{
	margin: 0;
	font-family: $font-bold;
	letter-spacing: $letter-spacing;
	padding: 20px;
}

.sliderRecommendations-content h3{
	@include fontSize($font-size4);
}

.sliderRecommendations-content span {
font-family: $font-regular;
	@include fontSize($font-size6);
	line-height: 1.82rem !important;
}

.sliderRecommendationsModule .bx-controls-direction .bx-prev {
	top: 40%;
	left: -14px;
	top: calc((50%) - 32px);
	border: none;
	margin-top: auto;
	margin-bottom: auto;
	background-color: $color-white;
	border-radius: 20px;
}

.sliderRecommendationsModule .bx-controls-direction .bx-prev:hover{
	 @include box-shadow ( 1px, 1px, 1px, #cccccc, inset)
}

.sliderRecommendationsModule .bx-controls-direction .bx-next {
	top: 40%;
	right: -14px;
	top: calc((50%) - 32px);
	border: none;
	margin-top: auto;
	margin-bottom: auto;
	background-color: $color-white;
	border-radius: 20px;
}
.sliderRecommendationsModule .bx-controls-direction .bx-next:hover{
	 @include box-shadow ( 1px, 1px, 1px, #cccccc, inset)
}

/*hover behaviour*/
.sliderRecommendations-content h3 {
	display:inline;
}

.sliderRecommendations-content:hover h3 {
	display:none;
}

.sliderRecommendations-content span {
	display:none;
}

.sliderRecommendations-content:hover span {
	display:inline;
}

/*hide controls*/
.sliderRecommendationsModule .bx-wrapper .bx-pager{
	display: none;
}


@media (max-width:$mobile) {
	.sliderRecommendationsModule .bx-controls-direction .bx-prev {
		left: 5px;
	}
	.sliderRecommendationsModule .bx-controls-direction .bx-next {
		right: 5px;
	}
}


