@import '_variables';
@import '_mixins';


.sliderArticleModule{
	@include box-shadow ( 2px, 2px, 1px, rgba(0,0,0,0.05));	
}

.sliderArticle-content{
	position: relative;
	padding: 10px 20px 30px 20px;
	background-color: $color-white;
	text-align: center;
}

.sliderArticle-content-topArrow{
	background-image: url('../images/arrowupcaroussel.png');
	background-repeat: no-repeat;
	width: 20px;
	height: 30px;
	position: absolute;
	left: 0;
	right: 0;
	top: -10px;
	margin-left: auto;
	margin-right: auto;
}

.sliderArticle-content h3,h4{
	margin:0;
}

.sliderArticle-content-MainTitle {
	color: $color-beige;
}

.sliderArticleModule .bx-controls-direction{
	display: none;
}

.sliderArticleModule .bx-pager{
	position:absolute;
	bottom: 3px;
	left: 43%;  
	z-index: 1000;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}




