@import '_variables';
@import '_mixins';

/* ==========================================================================
   superstore
   ========================================================================== */

.input_file{
   font-size:.8em;
   color:$color-mediumGrey;
   cursor: pointer;
   border: none;
   border-color: transparent;
} 

.superstore{
   img {
      width:100%;
   }
   .superstore-leftmenu-wrapper {
      @media (max-width: $fablet) {
         padding-right:0;
      }
   }
   .superstore-leftmenu{
      ul{
         width:100%;
         li{
            padding:10px 0;
            cursor: pointer;
         }
      }
       
   }
   .superstore-leftmenu-active{
      font-family: "Polaris-Bold", sans-serif;
   }
   		
	.superstore-content{
      img {
         border: 1px solid #fff;
         padding: 0 !important;
         }

      .helpContact-field-title{
         margin:0 10px;
      } 

      .superstore-selector{
         margin-bottom: 2px;

         .superstore-selector-title{
            padding: 10px 10px;
            @include box-shadow(0px,1px,2px,rgba($color-black,.05));
            
         }
      }

      .superstore-selector-content{
         padding:20px 10px 0px 10px;
         @media (max-width: $fablet) {
            padding-left:0px;
            padding-right:0px;
         }
        .icon-phone,.icon-chat,.icon-contact{
            margin:4px 10px 0 0;
         }
      }
   }
  

   // @media
   //------------------
   @media (max-width: $fablet) {
      .helpContact-title{
         margin:30px 0 20px 0;
      }
      
      .superstore-leftmenu {
            padding:10px 40px 1px 20px;
            margin-bottom:20px;
            background: $color-white;
            @include box-shadow(0px,1px,2px,rgba($color-black,.05)); 
         }
      .helpContact-contctForm-inputFile{
         display:none;
      }

      .superstore-selector-title {
         margin-left:-10px;
         margin-right:-10px;
      }
   }
}


// office
.office-box-wrapper {
   @media (max-width: $fablet) {
      margin-top:20px;
   }
   .hero-content {
      width:80%;
   }
}
.office-box {
   height:220px;
   @include box-shadow(0px,1px,2px,rgba($color-black,.05));
  @media (max-width: $mobile) {
      height:148px; 
   }
   & .office-box-counter {

       font-family: $font-condensed;
       color:$color-mediumGrey;
      letter-spacing: $letter-spacing;
      margin-top:77px;
      @media (max-width: $mobile) {
         text-align:right;
         margin-top:14px;
         padding-right:10px;
      }
      & .office-box-counter-number {
         font-size:100px;
      }

      & .office-box-counter-alt {
         @include fontSize($font-size5);
         text-transform: uppercase;
         margin-top:40px;
      }
   }
}

.sidekick-wrapper {
   margin-bottom: 0;
}


.mt50 {margin-top:50px;}

.back-to-top {position:relative;}


.follow-instagram {
   & span
   {
      @include fontSize($font-size2);
   }
   &:hover {
      border: 0;
   }
   
} 

.module-container {background-color: white;padding-top:20px;}


.background-static {
   background: url(../images/grid.jpg) 50% 50% / cover no-repeat;
   width: 100%;
   height: 100%;
   position: fixed;
   z-index: 1;
}

//.background-static img {width:100%;}


.wrapper-subheader {position:fixed;width:100%;z-index:99;display:block;}


.lt-ie9 .wrapper-subheader {position:relative;}

.toGoDown {
   z-index:10;background-color: $color-offWhite;
   position: relative;
   top: 100%;
   z-index: 10;
   width: 100%;
}

footer {z-index:99;height: 316px;}

