@import '_variables';
@import '_mixins';

/* ==========================================================================
   Tables
   ========================================================================== */
   
.table, .rwd-table {
  @include fontSize($font-size5);
  th { 
    @include fontSize($font-size5);
    font-family: $font-bold;
    font-weight: normal;
  }
  th,td{
    height: 45px;
    padding-right:13px;
  }
}

@media(max-width:$fablet){
/*RWD tables*/
.rwd-table{
  th,td{
    height: 30px;
  }
  th{
    display: none;
  }
  td{
    float: left;
    clear:left;
    margin-bottom: 10px;
    padding: 2px 0;
    width: 100%;
    &:before {
       content: attr(data-th);
       font-family: $font-bold;
       float: left;
       width: 50%;
    }
  }
}
}
